NOTEBOOOK DE CRAETION DES ORIGINE DESTINATION LAPI

In [2]:
%load_ext autoreload
%autoreload 2
import sys #c'est pas propre mais pour le moment pour importer mes modules perso dans le notebook je ne sais pas faire
sys.path.append(r'C:\Users\martin.schoreisz\git\Outils\Outils\Martin_Perso')
import traitement_od as t
import pandas as pd
import numpy as np
import altair as alt
import datetime as dt
pd.set_option('display.max_colwidth', 1000)
import os
from sklearn.cluster import DBSCAN

IMPORT DONNEES GLOBALES (SUPPRESSION DES DOUBLONS EN MM TEMPS)

In [3]:
%%time 
df_3semaines=t.ouvrir_fichier_lapi('2019-01-28 00:00:00','2019-02-17 23:59:59')
#df_3semaines=df_3semaines.drop_duplicates(['created','immat'])
df_3semaines=df_3semaines.set_index('created').sort_index()

Wall time: 1min 33s

VERIFICATION DES DONNEES

In [ ]:
#trouver les doublons
doublons=df_3semaines.reset_index()
doublons.loc[doublons.duplicated(['created','immat'],keep=False)]

In [27]:
%%time 
#verifier si des passages sont trop proches

#fonction de test d'ecart entre les passages
def ecart_passage(liste_passage, liste_camera,state) : 
    for i in range(len(liste_passage)-1):
        if (pd.to_datetime(liste_passage[i+1])-pd.to_datetime(liste_passage[i])<pd.Timedelta('00:05:00') and 
            pd.to_datetime(liste_passage[i])!=pd.to_datetime(liste_passage[i+1]) and state!='!!') : #on trouve l'enchainement en moins de 5minutes, sans prendre les doublons
            return True
    else : return False
def conserver_state(liste_state):
    if '!!' in liste_state : 
        return '!!'
    else : return liste_state[0]
def test_unicite_type(liste_l, mode='unique'):
        if mode=='unique' : 
            if len(set(liste_l))==1 :
                return liste_l[0]
            else : 
                return -1
        elif mode=='1/2' :
            if any(liste_l)==1 : 
                return 1
            else : 
                return -1
def liste_passage(liste_cam, liste_created) : 
    liste_passage=[]
    for i in range(len(liste_created)-1):
        if pd.to_datetime(liste_created[i+1])-pd.to_datetime(liste_created[i])<pd.Timedelta('00:05:00') :
            liste_passage.append(liste_cam[i])
            liste_passage.append(liste_cam[i+1])
    return liste_passage
def liste_created(liste_cam, liste_created) : 
    liste_created_fin=[]
    for i in range(len(liste_created)-1):
        if pd.to_datetime(liste_created[i+1])-pd.to_datetime(liste_created[i])<pd.Timedelta('00:05:00') :
            liste_created_fin.append(liste_created[i])
            liste_created_fin.append(liste_created[i+1])
    return liste_created_fin

#on grouep les données et modifie les colonnes
groupe=(df_3semaines.sort_index().reset_index().groupby('immat').agg({'camera_id':lambda x : tuple(x),'l': lambda x : test_unicite_type(list(x),'1/2'), 
                                                              'created':lambda x: tuple(x),'state':lambda x : conserver_state(list(x)) }))
#on isole les pl
groupe_pl=groupe.loc[groupe['l']==1].copy()
#on ajoute une colonne drapeau pour localiser le pb
groupe_pl['erreur_tps_passage']=groupe_pl.apply(lambda x :  ecart_passage(x['created'], x['camera_id'], x['state']),axis=1)
#et on extrait unqiement les passages problemetaique
groupe_pl_rappro=groupe_pl[groupe_pl['erreur_tps_passage']].copy()
groupe_pl_rappro['liste_passag_faux']=groupe_pl_rappro.apply(lambda x : liste_passage(x['camera_id'],x['created']),axis=1)
groupe_pl_rappro['liste_created_faux']=groupe_pl_rappro.apply(lambda x : liste_created(x['camera_id'],x['created']),axis=1)
#obteniur le nobre de passages concernés
groupe_pl_rappro[['liste_passag_faux','liste_created_faux']].apply(lambda x :len(x['liste_passag_faux']),axis=1).sum()
#visu
groupe_pl_rappro[['liste_passag_faux','liste_created_faux']]

#!!!!!!! ATTENTION : PAS DE TRAITEMENTS EFFECTUES POUR CES ERREURS POUR LE MOMENT !
#propositions : supprimer 1 des 2 occurences pour les docblons
#supprmer les plques mal lues.

In [27]:
#redresser la valeur de l
df_journee.loc[df_journee['camera_id']==15,'l']=1

LISTE DES TRAJETS

In [ ]:
#OLD
liste_trajet_locale=(pd.DataFrame([{'origine':'A63','destination':'A10','cam_o':15, 'cam_d':11, 'trajets':[
                                                        {'cameras':[15,19,4,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,19,1,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,4,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,1,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,19,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,19,4,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,19,1,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,4,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,1,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,19,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,11],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A10','destination':'A63','cam_o':12, 'cam_d':13,'trajets':[{'cameras':[12,6,2,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,6,3,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,6,2,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,6,3,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,6,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,2,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,3,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,2,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,3,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,6,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,13],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A63','destination':'N10','cam_o':15, 'cam_d':5,'trajets':[{'cameras':[15,19,4,5],'type_trajet':'indirect'},
                                                        {'cameras':[15,19,1,5],'type_trajet':'indirect'},
                                                        {'cameras':[15,4,5],'type_trajet':'indirect'},
                                                        {'cameras':[15,1,5],'type_trajet':'indirect'},
                                                        {'cameras':[15,19,5],'type_trajet':'indirect'}, 
                                                        {'cameras':[15,5],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'N10','destination':'A63','cam_o':6, 'cam_d':13,'trajets':[{'cameras':[6,2,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[6,3,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[6,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[6,2,13],'type_trajet':'indirect'},
                                                        {'cameras':[6,3,13],'type_trajet':'indirect'},
                                                        {'cameras':[6,13],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A62','destination':'A10','cam_o':10, 'cam_d':11,'trajets':[{'cameras':[10,4,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[10,4,11],'type_trajet':'indirect'},
                                                        {'cameras':[10,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[10,11],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A10','destination':'A62','cam_o':12, 'cam_d':9,'trajets':[{'cameras':[12,6,3,9],'type_trajet':'indirect'},
                                                        {'cameras':[12,3,9],'type_trajet':'indirect'},
                                                        {'cameras':[12,6,9],'type_trajet':'indirect'},
                                                        {'cameras':[12,9],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A62','destination':'N10','cam_o':10, 'cam_d':5,'trajets':[{'cameras':[10,4,5],'type_trajet':'indirect'},
                                                        {'cameras':[10,5],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'N10','destination':'A62','cam_o':6, 'cam_d':9,'trajets':[{'cameras':[6,3,9],'type_trajet':'indirect'},
                                                        {'cameras':[6,9],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A63','destination':'A62','cam_o':15, 'cam_d':9,'trajets':[{'cameras':[15,19,9],'type_trajet':'indirect'},
                                                        {'cameras':[15,9],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A62','destination':'A63','cam_o':10, 'cam_d':13,'trajets':[{'cameras':[10,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[10,13],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A89','destination':'A63','cam_o':8 ,'cam_d':13,'trajets':[{'cameras':[8,3,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[8,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[8,3,13],'type_trajet':'indirect'},
                                                        {'cameras':[8,13],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A63','destination':'A89','cam_o':15, 'cam_d':7,'trajets':[{'cameras':[15,19,4,7],'type_trajet':'indirect'},
                                                        {'cameras':[15,4,7],'type_trajet':'indirect'},
                                                        {'cameras':[15,19,7],'type_trajet':'indirect'},
                                                        {'cameras':[15,7],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A89','destination':'A62','cam_o':8, 'cam_d':9,'trajets':[{'cameras':[8,3,9],'type_trajet':'indirect'},
                                                        {'cameras':[8,9],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A62','destination':'A89','cam_o':10, 'cam_d':7,'trajets':[{'cameras':[10,4,7],'type_trajet':'indirect'},
                                                        {'cameras':[10,7],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A89','destination':'A10','cam_o':8, 'cam_d':11,'trajets':[{'cameras':[8,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[8,11],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A10','destination':'A89','cam_o':12, 'cam_d':7,'trajets':[{'cameras':[12,6,7],'type_trajet':'indirect'},
                                                        {'cameras':[12,7],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A89','destination':'N10','cam_o':8, 'cam_d':5,'trajets':[{'cameras':[8,5],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'N10','destination':'A89','cam_o':6, 'cam_d':7,'trajets':[{'cameras':[6,7],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A10','destination':'A660','cam_o':12, 'cam_d':18,'trajets':[{'cameras':[12,6,2,18],'type_trajet':'indirect'},
                                                         {'cameras':[12,6,3,18],'type_trajet':'indirect'},
                                                         {'cameras':[12,2,18],'type_trajet':'indirect'},
                                                         {'cameras':[12,3,18],'type_trajet':'indirect'},
                                                         {'cameras':[12,6,18],'type_trajet':'indirect'},
                                                         {'cameras':[12,18],'type_trajet':'direct'},
                                                        ]},
                            {'origine':'A660','destination':'A10','cam_o':19, 'cam_d':18,'trajets':[{'cameras':[19,4,5,11],'type_trajet':'indirect'},
                                                         {'cameras':[19,1,5,11],'type_trajet':'indirect'},
                                                         {'cameras':[19,1,11],'type_trajet':'indirect'},
                                                         {'cameras':[19,4,11],'type_trajet':'indirect'},
                                                         {'cameras':[19,5,11],'type_trajet':'indirect'},
                                                         {'cameras':[19,11],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A660','destination':'A62','cam_o':19, 'cam_d':9,'trajets':[{'cameras':[19,9],'type_trajet':'direct'}
                                                        ]},
                            {'origine':'A62','destination':'A660','cam_o':10, 'cam_d':18,'trajets':[{'cameras':[10,18],'type_trajet':'direct'}
                                                        ]},
                            {'origine':'A660','destination':'A89','cam_o':19, 'cam_d':7,'trajets':[{'cameras':[19,4,7],'type_trajet':'indirect'},
                                                         {'cameras':[19,7],'type_trajet':'direct'}
                                                        ]},
                            {'origine':'A89','destination':'A660','cam_o':8, 'cam_d':18,'trajets':[{'cameras':[8,3,18],'type_trajet':'indirect'},
                                                         {'cameras':[8,18],'type_trajet':'direct'}
                                                        ]},
                            {'origine':'N10','destination':'A660','cam_o':6, 'cam_d':18,'trajets':[{'cameras':[6,2,18],'type_trajet':'indirect'},
                                                         {'cameras':[6,3,18],'type_trajet':'indirect'},
                                                         {'cameras':[6,18],'type_trajet':'direct'},
                                                        ]},
                            {'origine':'A660','destination':'N10','cam_o':19, 'cam_d':5,'trajets':[{'cameras':[19,1,5],'type_trajet':'indirect'},
                                                         {'cameras':[19,4,5],'type_trajet':'indirect'},
                                                         {'cameras':[19,5],'type_trajet':'direct'},
                                                        ]}
                           ]))[['origine', 'destination', 'cam_o', 'cam_d','trajets']]
liste_trajet_locale.to_json(r'Q:\DAIT\TI\DREAL33\2018\C17SI0073_LAPI\Traitements\python\OLD_liste_trajets.json',orient='records')

liste_complete_trajet=pd.DataFrame([[tuple(liste_cam['cameras']),value[0],value[1],value[2],value[3],len(liste_cam['cameras'])] for obj, value in liste_trajet_locale.iterrows() for liste_cam in value[4]],
             columns=['cameras','origine','destination','cam_o','cam_d','nb_cams'])
liste_complete_trajet=liste_complete_trajet.sort_values('nb_cams',ascending=False)
liste_complete_trajet.to_json(r'Q:\DAIT\TI\DREAL33\2018\C17SI0073_LAPI\Traitements\python\trajets_possibles.json',orient='index')
liste_complete_trajet

In [4]:
liste_complete_trajet=pd.read_json(r'Q:\DAIT\TI\DREAL33\2018\C17SI0073_LAPI\Traitements\python\trajets_possibles.json', orient='index')
liste_complete_trajet['cameras']=liste_complete_trajet.apply(lambda x : tuple(x['cameras']),axis=1)
liste_complete_trajet

    cam_d  cam_o             cameras destination  nb_cams origine
0      11     15  (15, 19, 4, 5, 11)         A10        5     A63
1      11     15  (15, 19, 1, 5, 11)         A10        5     A63
12     13     12  (12, 6, 2, 18, 13)         A63        5     A10
13     13     12  (12, 6, 3, 18, 13)         A63        5     A10
15     13     12      (12, 6, 3, 13)         A63        4     A10
30     13      6      (6, 2, 18, 13)         A63        4     N10
56      7     15      (15, 19, 4, 7)         A89        4     A63
36     11     10      (10, 4, 5, 11)         A10        4     A62
25      5     15      (15, 19, 1, 5)         N10        4     A63
24      5     15      (15, 19, 4, 5)         N10        4     A63
52     13      8      (8, 3, 18, 13)         A63        4     A89
40      9     12       (12, 6, 3, 9)         A62        4     A10
77     18     19      (19, 1, 5, 11)         A10        4    A660
18     13     12     (12, 3, 18, 13)         A63        4     A10
17     13     12     (12, 2, 18, 13)         A63        4     A10
16     13     12     (12, 6, 18, 13)         A63        4     A10
14     13     12      (12, 6, 2, 13)         A63        4     A10
76     18     19      (19, 4, 5, 11)         A10        4    A660
70     18     12      (12, 6, 2, 18)        A660        4     A10
71     18     12      (12, 6, 3, 18)        A660        4     A10
6      11     15     (15, 19, 1, 11)         A10        4     A63
5      11     15     (15, 19, 4, 11)         A10        4     A63
4      11     15     (15, 19, 5, 11)         A10        4     A63
3      11     15      (15, 1, 5, 11)         A10        4     A63
2      11     15      (15, 4, 5, 11)         A10        4     A63
31     13      6      (6, 3, 18, 13)         A63        4     N10
57      7     15          (15, 4, 7)         A89        3     A63
50     13     10        (10, 18, 13)         A63        3     A62
84      7     19          (19, 4, 7)         A89        3    A660
48      9     15         (15, 19, 9)         A62        3     A63
..    ...    ...                 ...         ...      ...     ...
88     18      6          (6, 2, 18)        A660        3     N10
41      9     12          (12, 3, 9)         A62        3     A10
42      9     12          (12, 6, 9)         A62        3     A10
74     18     12         (12, 6, 18)        A660        3     A10
82      9     19             (19, 9)         A62        2    A660
87     18      8             (8, 18)        A660        2     A89
81     18     19            (19, 11)         A10        2    A660
90     18      6             (6, 18)        A660        2     N10
83     18     10            (10, 18)        A660        2     A62
75     18     12            (12, 18)        A660        2     A10
85      7     19             (19, 7)         A89        2    A660
47      9      6              (6, 9)         A62        2     N10
69      7      6              (6, 7)         A89        2     N10
68      5      8              (8, 5)         N10        2     A89
11     11     15            (15, 11)         A10        2     A63
23     13     12            (12, 13)         A63        2     A10
29      5     15             (15, 5)         N10        2     A63
35     13      6             (6, 13)         A63        2     N10
39     11     10            (10, 11)         A10        2     A62
43      9     12             (12, 9)         A62        2     A10
45      5     10             (10, 5)         N10        2     A62
49      9     15             (15, 9)         A62        2     A63
51     13     10            (10, 13)         A63        2     A62
55     13      8             (8, 13)         A63        2     A89
59      7     15             (15, 7)         A89        2     A63
61      9      8              (8, 9)         A62        2     A89
63      7     10             (10, 7)         A89        2     A62
65     11      8             (8, 11)         A10        2     A89
67      7     12             (12, 7)         A89        2     A10
93      5     19             (19, 5)         N10        2    A660

[94 rows x 6 columns]

TESTS DONNEES COMPLETES

In [ ]:
dico_od,  dico_passag, dico_tps_max=t.transit_temps_complet('2019-01-28 00:00:00',1,df_3semaines)

date : 2019-01-28 00:00:00 debut_traitement : 2019-04-15 17:15:29.851884
date : 2019-01-28 01:00:00 debut_traitement : 2019-04-15 17:15:30.570495
date : 2019-01-28 02:00:00 debut_traitement : 2019-04-15 17:15:31.164109
date : 2019-01-28 03:00:00 debut_traitement : 2019-04-15 17:15:31.820179
date : 2019-01-28 04:00:00 debut_traitement : 2019-04-15 17:15:32.491892
date : 2019-01-28 05:00:00 debut_traitement : 2019-04-15 17:15:33.397934
date : 2019-01-28 06:00:00 debut_traitement : 2019-04-15 17:15:35.085036
date : 2019-01-28 07:00:00 debut_traitement : 2019-04-15 17:15:36.912762
date : 2019-01-28 08:00:00 debut_traitement : 2019-04-15 17:15:39.177829
date : 2019-01-28 09:00:00 debut_traitement : 2019-04-15 17:15:42.130264
date : 2019-01-28 10:00:00 debut_traitement : 2019-04-15 17:15:45.098325

IMPORTANT : VERIF DES DOUBLONS ENTRE LES TRAJETS

In [830]:
df_depart=dico_od.loc[dico_od['destination']=='A89'].copy()
jointure=df_depart.merge(dico_od, on='immat')
jointure=jointure.loc[jointure.date_cam_1_x!=jointure.date_cam_1_y].copy()
(jointure.loc[((jointure.date_cam_1_y>=jointure.date_cam_1_x) & (jointure.date_cam_1_y<=jointure.date_cam_2_x)) |
              ((jointure.date_cam_2_y>=jointure.date_cam_1_x) & (jointure.date_cam_2_y<=jointure.date_cam_2_x))])

DATAFRAME DES TEMPS DE PARCOURS MAX AVEC LE TYPE

In [89]:
dico_tps_max

                   date           temps              type       o_d
0   2019-01-28 00:00:00        01:04:53           Cluster   A63-N10
1   2019-01-28 00:00:00 11:46:00.500000  85eme_percentile   A63-A10
2   2019-01-28 00:00:00        10:19:38           Cluster   A63-A89
3   2019-01-28 00:00:00        01:24:35           Cluster   A89-A63
4   2019-01-28 00:00:00        00:48:31           Cluster   A62-N10
5   2019-01-28 00:00:00        09:40:39  85eme_percentile  A660-N10
6   2019-01-28 00:00:00        10:01:51           Cluster  A660-A10
7   2019-01-28 00:00:00        11:06:36           Cluster  A660-A89
8   2019-01-28 00:00:00 03:06:52.899999  85eme_percentile   N10-A63
9   2019-01-28 01:00:00        10:16:08  85eme_percentile   A63-N10
10  2019-01-28 01:00:00 12:18:34.500000  85eme_percentile   A63-A10
11  2019-01-28 01:00:00        01:03:26           Cluster   A63-A89
12  2019-01-28 01:00:00        01:27:18           Cluster   A10-A63
13  2019-01-28 01:00:00        01:23:38           Cluster   A89-A63
14  2019-01-28 01:00:00        00:08:48           Cluster  A62-A660
15  2019-01-28 01:00:00        00:09:01           Cluster   A62-N10
16  2019-01-28 01:00:00        01:16:54           Cluster   N10-A63
17  2019-01-28 02:00:00 10:19:33.250000  85eme_percentile   A63-N10
18  2019-01-28 02:00:00 12:04:38.900000  85eme_percentile   A63-A10
19  2019-01-28 02:00:00        00:54:44           Cluster   A63-A62
20  2019-01-28 02:00:00        01:42:13           Cluster   A10-A63
21  2019-01-28 02:00:00 02:36:16.900000  85eme_percentile   A89-A63
22  2019-01-28 02:00:00        00:34:31           Cluster  A89-A660
23  2019-01-28 02:00:00        12:34:07           Cluster   A89-A10
24  2019-01-28 02:00:00        13:36:14           Cluster  A62-A660
25  2019-01-28 02:00:00        00:42:04           Cluster   A62-A63
26  2019-01-28 02:00:00        01:55:16           Cluster  A660-N10
27  2019-01-28 02:00:00        01:16:07           Cluster   N10-A63
28  2019-01-28 03:00:00        01:03:52           Cluster   A63-N10
29  2019-01-28 03:00:00        01:26:14           Cluster   A63-A10
..                  ...             ...               ...       ...
393 2019-01-28 19:00:00        01:16:41           Cluster   N10-A63
394 2019-01-28 20:00:00        01:05:51           Cluster   A63-N10
395 2019-01-28 20:00:00 13:07:11.500000  85eme_percentile   A63-A10
396 2019-01-28 20:00:00        12:19:00  85eme_percentile   A63-A89
397 2019-01-28 20:00:00        11:52:16           Cluster  A10-A660
398 2019-01-28 20:00:00        00:38:03           Cluster  A89-A660
399 2019-01-28 20:00:00        10:33:27           Cluster   A89-A62
400 2019-01-28 20:00:00        12:19:45           Cluster   A89-A63
401 2019-01-28 20:00:00        14:11:08           Cluster   A89-A10
402 2019-01-28 20:00:00        03:23:46           Cluster   N10-A63
403 2019-01-28 21:00:00 12:08:04.200000  85eme_percentile   A63-N10
404 2019-01-28 21:00:00 11:55:22.350000  85eme_percentile   A63-A10
405 2019-01-28 21:00:00        03:57:20           Cluster   A63-A62
406 2019-01-28 21:00:00        10:31:42           Cluster   A89-A62
407 2019-01-28 21:00:00        02:22:49           Cluster   A89-A63
408 2019-01-28 21:00:00        11:23:18           Cluster   A62-N10
409 2019-01-28 21:00:00        10:29:11           Cluster   N10-A63
410 2019-01-28 22:00:00 10:45:44.600000  85eme_percentile   A63-N10
411 2019-01-28 22:00:00        10:44:13           Cluster   A63-A89
412 2019-01-28 22:00:00 11:22:15.050000  85eme_percentile   A63-A10
413 2019-01-28 22:00:00        01:55:25           Cluster   A10-A63
414 2019-01-28 22:00:00        11:04:01           Cluster   A89-A63
415 2019-01-28 22:00:00        11:47:43           Cluster   A62-A89
416 2019-01-28 23:00:00        11:14:49           Cluster   A63-A89
417 2019-01-28 23:00:00        01:05:00           Cluster   A63-N10
418 2019-01-28 23:00:00        10:33:55           Cluster   A63-A10
419 2019-01-28 23:00:00        02:01:25           Cluster   A10-A63
420 2019-01-28 23:00:00        01:19:21           Cluster   A89-A63
421 2019-01-28 23:00:00        00:26:24           Cluster   A89-A62
422 2019-01-28 23:00:00        00:40:28           Cluster  A89-A660

[423 rows x 4 columns]

CREER LE TABLEAU DE MATRICE O-D

In [6]:
#MATRICE O-D !!II!
pd.pivot_table(dico_od,values='l', index='origine', columns='destination',aggfunc='count', margins=True )

destination    A10    A62     A63   A660    A89     N10   All
origine
A10            NaN  392.0   262.0  189.0   48.0     NaN   891
A62          179.0    NaN    55.0  107.0   56.0   216.0   613
A63          540.0   31.0     NaN    NaN  155.0  2555.0  3281
A660         179.0   79.0     NaN    NaN  117.0   423.0   798
A89           49.0  136.0   199.0  176.0    NaN   130.0   690
N10            NaN  294.0   841.0  315.0   63.0     NaN  1513
All          947.0  932.0  1357.0  787.0  439.0  3324.0  7786

POURCENTAGE PL PAR PLAGE HORAIRE ET CAMERA

In [432]:
#isoler pl source
groupe_tv_type_simple=df_journee.groupby('immat')['l'].apply(lambda x:test_unicite_type(list(x),mode='1/2')).reset_index().drop_duplicates('immat')
df_pl=df_journee.join(groupe_tv_type_simple.loc[groupe_tv_type_simple['l']==1].set_index('immat'),on='immat',how='inner',rsuffix='_right')
df_pl.set_index('created',inplace=True)

#obtenir les nb de pl par heure et par camera sur la source
df_synthese_pl_tot=df_pl.groupby('camera_id').resample('H').count()['immat'].rename(column={'immat':'nb_pl_tot'})
df_synthese_pl_transit=dico_passag.set_index('created').groupby('camera_id').resample('H').count()['immat'].rename(column={'immat':'nb_pl_transit'})
df_pct_pl_transit=pd.concat([df_synthese_pl_tot,df_synthese_pl_transit], axis=1, join='inner')
df_pct_pl_transit.columns=[['nb_pl_tot','nb_pl_transit']]
df_pct_pl_transit['pct_pl_transit']=df_pct_pl_transit.apply(lambda x : float(x['nb_pl_transit'])*100 / x['nb_pl_tot'] ,axis=1)
df_pct_pl_transit

In [ ]:
pct_pl=t.pourcentage_pl_camera('2019-01-28 00:00:00', 1,df_3semaines.reset_index(),dico_passag)
pct_pl

VERIFICATION

In [30]:
# #retrouver une immatriculatiob dans les données completes
df_3semaines.loc[df_3semaines['immat']=='fffbb020a440bbec286fc41d4b70865e990b4bb7']

,camera_id,immat,fiability,l,state
created,,,,,
2019-02-10 09:38:43,4,fffbb020a440bbec286fc41d4b70865e990b4bb7,99,1,FR
2019-02-10 09:49:02,5,fffbb020a440bbec286fc41d4b70865e990b4bb7,99,1,FR
2019-02-10 09:50:56,10,fffbb020a440bbec286fc41d4b70865e990b4bb7,99,1,FR
2019-02-10 10:07:29,11,fffbb020a440bbec286fc41d4b70865e990b4bb7,99,0,FR

In [865]:
# retrouver une immatriculatiob dans ledico o_d
dico_od.loc[dico_od['immat']=='2da9c14f66a652882b65149a257de9f25f5a5a24']

Empty DataFrame
Columns: [date_cam_1, immat, state, l, date_cam_2, cameras, origine, destination, o_d, tps_parcours]
Index: []

In [94]:
#verif a un horaire donne sur un trajet direct ou indirect
%time test=t.trajet(df_3semaines.loc['2019-01-28 00:00:00':'2019-01-29 23:59:59'], '2019-01-28 02:00:00', 60, [10, 18],typeTrajet='Global')

Wall time: 156 ms

In [95]:
test.df_transit

,date_cam_1,immat,state,l,date_cam_2,cameras,origine,destination,o_d,tps_parcours
0,2019-01-28 02:06:25,d91b417d77105f134c3dde10cd88ee250d39f4e8,FR,1,2019-01-28 15:42:39,"(10, 18)",A62,A660,A62-A660,13:36:14
1,2019-01-28 02:10:27,47b052f4e2404b084d96f7d65cc213b664d9e1e7,FR,1,2019-01-28 02:27:41,"(10, 18)",A62,A660,A62-A660,00:17:14
2,2019-01-28 02:19:13,f1688ba9a1abc34ef06c259c4f50a2847b02cdbd,FR,1,2019-01-28 03:01:17,"(10, 18, 13)",A62,A63,A62-A63,00:42:04
3,2019-01-28 02:46:22,ea51afbdb887c9f4da2e1d405e515fcd374e849e,ES,1,2019-01-28 18:59:53,"(10, 18, 13)",A62,A63,A62-A63,16:13:31

TESTS A LA MANO

In [135]:
#pour test des fonctions de trajets directs
df_duree=df_3semaines.loc['2019-01-29 21:00:00':'2019-01-30 15:00:00'].loc['2019-01-29 21:00:00':'2019-01-29 22:00:00']
df_duree_cam1=df_duree.loc[df_duree.loc[:,'camera_id']==19]
df_duree_autres_cam=df_3semaines.loc['2019-01-29 21:00:00':'2019-01-30 15:00:00'].loc[(df_3semaines.loc['2019-01-29 21:00:00':'2019-01-30 15:00:00'].loc[:,'immat'].isin(df_duree_cam1.loc[:,'immat']))]
cam1_croise_autre_cam=df_duree_cam1.reset_index().merge(df_duree_autres_cam.reset_index(), on='immat')
cam1_croise_suivant=cam1_croise_autre_cam.loc[(cam1_croise_autre_cam.loc[:,'created_x']<cam1_croise_autre_cam.loc[:,'created_y'])]
cam1_fastest_next=cam1_croise_suivant.loc[cam1_croise_suivant.groupby(['immat'])['created_y'].idxmin()]

In [810]:
%%time
#pour test des fonctions de trajets global 
camera1, camera2=10,18
df=df_3semaines.loc['2019-01-28 10:00:00':'2019-01-29 23:59:59']
df_duree=df.loc['2019-01-28 10:00:00':'2019-01-28 11:00:00']
df_duree_cam1=df_duree.loc[df_duree.loc[:,'camera_id']==camera1]
df_duree_autres_cam=df.loc[(df.loc[:,'immat'].isin(df_duree_cam1.loc[:,'immat']))]
groupe=(df_duree_autres_cam.sort_index().reset_index().groupby('immat').agg({'camera_id':lambda x : tuple(x), 'l': lambda x : test_unicite_type(list(x),'1/2'),
                                                                               'created':lambda x: tuple(x)}))
groupe_pl=groupe.loc[groupe['l']==1].copy()
groupe_pl['camera_id']=groupe_pl.apply(lambda x : filtrer_passage(x['camera_id'],liste_complete_trajet,camera1),axis=1)#on filtre les cameras selon la liste des trajets existants
groupe_pl['created']=groupe_pl.apply(lambda x : recuperer_date_cam2(x['camera_id'],x['created'],liste_complete_trajet,camera1),axis=1)
df_ts_trajets=(groupe_pl.reset_index().merge(liste_complete_trajet[['cameras','origine','destination']],right_on='cameras', left_on='camera_id').
               rename(columns={'created':'date_cam_2'}).drop('camera_id',axis=1))
df_ts_trajets['o_d']=df_ts_trajets.apply(lambda x : x['origine']+'-'+x['destination'],axis=1)
df_agrege=df_duree_cam1.reset_index().merge(df_ts_trajets,on='immat').drop(['camera_id', 'l_x','state','fiability'],axis=1).rename(columns={'l_y':'l','created':'date_cam_1'})
df_agrege['tps_parcours']=df_agrege.apply(lambda x : x.date_cam_2-x.date_cam_1, axis=1)
df_agrege=df_agrege.loc[df_agrege['date_cam_2'] > df_agrege['date_cam_1']]

df_joint_passag_transit=df_agrege.merge(df_duree_autres_cam.reset_index(), on='immat')
df_passag_transit1=df_joint_passag_transit.loc[(df_joint_passag_transit.apply(lambda x : x['camera_id'] in x['cameras'], axis=1))]
df_passag_transit=(df_passag_transit1.loc[df_passag_transit1.apply(lambda x : x['date_cam_1']<=x['created']<=x['date_cam_2'], axis=1)]
                [['created','camera_id','immat','fiability','l_y','state']].rename(columns={'l_y':'l'}))

Wall time: 344 ms

In [785]:
def filtrer_passage(liste, df_liste_trajet, cam) :
    for liste_cams in [a for a in liste_complete_trajet.cameras.tolist() if a[0]==cam] :
        if liste[:len(liste_cams)]==tuple(liste_cams):
            return liste[:len(liste_cams)]
    else : return liste

In [3]:
def recuperer_date_cam2(liste,liste_created,df_liste_trajet, cam):
    for liste_cams in [a for a in liste_complete_trajet.cameras.tolist() if a[0]==cam] :
        if liste[:len(liste_cams)]==tuple(liste_cams):
            return liste_created[len(liste_cams)-1]
    else : return liste_created[-1]

TESTS

In [6]:
# illsutration de la fibilité des cameras
df_3semaines.groupby('camera_id')['fiability'].mean()

camera_id
1     44.025346
2     45.053603
3     88.447345
4     84.762897
5     89.014911
6     88.729116
7     89.318629
8     88.783314
9     84.869740
10    87.667409
11    88.111139
12    88.565236
13    91.133875
15    91.244692
18    87.460676
19    87.803266
Name: fiability, dtype: float64