Test du projet de class trajets indirect

In [1]:
%load_ext autoreload
%autoreload 2
import sys #c'est pas propre mais pour le moment pour importer mes modules perso dans le notebook je ne sais pas faire
sys.path.append(r'C:\Users\martin.schoreisz\git\Outils\Outils\Martin_Perso')
import traitement_od as t
import pandas as pd
import numpy as np
import altair as alt
import datetime as dt
pd.set_option('display.max_colwidth', 1000)
import os
from sklearn.cluster import DBSCAN

IMPORT DONNEES GLOBALES (SUPPRESSION DES DOUBLONS EN MM TEMPS)

In [11]:
%%time 
df_3semaines=t.ouvrir_fichier_lapi('2019-01-28 00:00:00','2019-02-17 23:59:59')
df_3semaines=df_3semaines.drop_duplicates(['created','immat'])
df_3semaines=df_3semaines.set_index('created').sort_index()

Wall time: 1.48 s

VERIFICATION DES DONNEES

In [ ]:
#trouver les doublons
doublons=df_3semaines.reset_index()
doublons.loc[doublons.duplicated(['created','immat'],keep=False)]

In [27]:
%%time 
#verifier si des passages sont trop proches

#fonction de test d'ecart entre les passages
def ecart_passage(liste_passage, liste_camera,state) : 
    for i in range(len(liste_passage)-1):
        if (pd.to_datetime(liste_passage[i+1])-pd.to_datetime(liste_passage[i])<pd.Timedelta('00:05:00') and 
            pd.to_datetime(liste_passage[i])!=pd.to_datetime(liste_passage[i+1]) and state!='!!') : #on trouve l'enchainement en moins de 5minutes, sans prendre les doublons
            return True
    else : return False
def conserver_state(liste_state):
    if '!!' in liste_state : 
        return '!!'
    else : return liste_state[0]
def test_unicite_type(liste_l, mode='unique'):
        if mode=='unique' : 
            if len(set(liste_l))==1 :
                return liste_l[0]
            else : 
                return -1
        elif mode=='1/2' :
            if any(liste_l)==1 : 
                return 1
            else : 
                return -1

#on grouep les donnÃ©es et modifie les colonnes
groupe=(df_3semaines.sort_index().reset_index().groupby('immat').agg({'camera_id':lambda x : tuple(x),'l': lambda x : test_unicite_type(list(x),'1/2'), 
                                                              'created':lambda x: tuple(x),'state':lambda x : conserver_state(list(x)) }))
#on isole les pl
groupe_pl=groupe.loc[groupe['l']==1].copy()
#on ajoute une colonne drapeau pour localiser le pb
groupe_pl['erreur_tps_passage']=groupe_pl.apply(lambda x :  ecart_passage(x['created'], x['camera_id'], x['state']),axis=1)
#et on visualise
groupe_pl[groupe_pl['erreur_tps_passage']]

IMPORT DES DONNEES SUR UNE JOURNEE

In [350]:
df_journee=t.ouvrir_fichier_lapi('2019-01-28','2019-01-30')

In [352]:
#redresser la valeur de l
df_journee.loc[df_journee['camera_id']==15,'l']=1

LISTE DES TRAJETS

In [98]:
liste_trajet_locale=(pd.DataFrame([{'origine':'A63','destination':'A10','cam_o':15, 'cam_d':11, 'trajets':[
                                                        {'cameras':[15,19,4,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,19,1,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,4,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,1,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,19,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,19,4,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,19,1,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,4,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,1,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,19,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,11],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A10','destination':'A63','cam_o':12, 'cam_d':13,'trajets':[{'cameras':[12,6,2,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,6,3,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,6,2,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,6,3,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,6,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,2,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,3,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,2,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,3,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,6,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,13],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A63','destination':'N10','cam_o':15, 'cam_d':5,'trajets':[{'cameras':[15,19,4,5],'type_trajet':'indirect'},
                                                        {'cameras':[15,19,1,5],'type_trajet':'indirect'},
                                                        {'cameras':[15,4,5],'type_trajet':'indirect'},
                                                        {'cameras':[15,1,5],'type_trajet':'indirect'},
                                                        {'cameras':[15,19,5],'type_trajet':'indirect'}, 
                                                        {'cameras':[15,5],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'N10','destination':'A63','cam_o':6, 'cam_d':13,'trajets':[{'cameras':[6,2,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[6,3,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[6,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[6,2,13],'type_trajet':'indirect'},
                                                        {'cameras':[6,3,13],'type_trajet':'indirect'},
                                                        {'cameras':[6,13],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A62','destination':'A10','cam_o':10, 'cam_d':11,'trajets':[{'cameras':[10,4,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[10,4,11],'type_trajet':'indirect'},
                                                        {'cameras':[10,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[10,11],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A10','destination':'A62','cam_o':12, 'cam_d':9,'trajets':[{'cameras':[12,6,3,9],'type_trajet':'indirect'},
                                                        {'cameras':[12,3,9],'type_trajet':'indirect'},
                                                        {'cameras':[12,6,9],'type_trajet':'indirect'},
                                                        {'cameras':[12,9],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A62','destination':'N10','cam_o':10, 'cam_d':5,'trajets':[{'cameras':[10,4,5],'type_trajet':'indirect'},
                                                        {'cameras':[10,5],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'N10','destination':'A62','cam_o':6, 'cam_d':9,'trajets':[{'cameras':[6,3,9],'type_trajet':'indirect'},
                                                        {'cameras':[6,9],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A63','destination':'A62','cam_o':15, 'cam_d':9,'trajets':[{'cameras':[15,19,9],'type_trajet':'indirect'},
                                                        {'cameras':[15,9],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A62','destination':'A63','cam_o':10, 'cam_d':13,'trajets':[{'cameras':[10,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[10,13],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A89','destination':'A63','cam_o':8 ,'cam_d':13,'trajets':[{'cameras':[8,3,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[8,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[8,3,13],'type_trajet':'indirect'},
                                                        {'cameras':[8,13],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A63','destination':'A89','cam_o':15, 'cam_d':7,'trajets':[{'cameras':[15,19,4,7],'type_trajet':'indirect'},
                                                        {'cameras':[15,4,7],'type_trajet':'indirect'},
                                                        {'cameras':[15,19,7],'type_trajet':'indirect'},
                                                        {'cameras':[15,7],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A89','destination':'A62','cam_o':8, 'cam_d':9,'trajets':[{'cameras':[8,3,9],'type_trajet':'indirect'},
                                                        {'cameras':[8,9],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A62','destination':'A89','cam_o':10, 'cam_d':7,'trajets':[{'cameras':[10,4,7],'type_trajet':'indirect'},
                                                        {'cameras':[10,7],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A89','destination':'A10','cam_o':8, 'cam_d':11,'trajets':[{'cameras':[8,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[8,11],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A10','destination':'A89','cam_o':12, 'cam_d':7,'trajets':[{'cameras':[12,6,7],'type_trajet':'indirect'},
                                                        {'cameras':[12,7],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A89','destination':'N10','cam_o':8, 'cam_d':5,'trajets':[{'cameras':[8,5],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'N10','destination':'A89','cam_o':6, 'cam_d':7,'trajets':[{'cameras':[6,7],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A10','destination':'A660','cam_o':12, 'cam_d':18,'trajets':[{'cameras':[12,6,2,18],'type_trajet':'indirect'},
                                                         {'cameras':[12,6,3,18],'type_trajet':'indirect'},
                                                         {'cameras':[12,2,18],'type_trajet':'indirect'},
                                                         {'cameras':[12,3,18],'type_trajet':'indirect'},
                                                         {'cameras':[12,6,18],'type_trajet':'indirect'},
                                                         {'cameras':[12,18],'type_trajet':'direct'},
                                                        ]},
                            {'origine':'A660','destination':'A10','cam_o':19, 'cam_d':18,'trajets':[{'cameras':[19,4,5,11],'type_trajet':'indirect'},
                                                         {'cameras':[19,1,5,11],'type_trajet':'indirect'},
                                                         {'cameras':[19,1,11],'type_trajet':'indirect'},
                                                         {'cameras':[19,4,11],'type_trajet':'indirect'},
                                                         {'cameras':[19,5,11],'type_trajet':'indirect'},
                                                         {'cameras':[19,11],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A660','destination':'A62','cam_o':19, 'cam_d':9,'trajets':[{'cameras':[19,9],'type_trajet':'direct'}
                                                        ]},
                            {'origine':'A62','destination':'A660','cam_o':10, 'cam_d':18,'trajets':[{'cameras':[10,18],'type_trajet':'direct'}
                                                        ]},
                            {'origine':'A660','destination':'A89','cam_o':19, 'cam_d':7,'trajets':[{'cameras':[19,4,7],'type_trajet':'indirect'},
                                                         {'cameras':[19,7],'type_trajet':'direct'}
                                                        ]},
                            {'origine':'A89','destination':'A660','cam_o':8, 'cam_d':18,'trajets':[{'cameras':[8,3,18],'type_trajet':'indirect'},
                                                         {'cameras':[8,18],'type_trajet':'direct'}
                                                        ]},
                            {'origine':'N10','destination':'A660','cam_o':6, 'cam_d':18,'trajets':[{'cameras':[6,2,18],'type_trajet':'indirect'},
                                                         {'cameras':[6,3,18],'type_trajet':'indirect'},
                                                         {'cameras':[6,18],'type_trajet':'direct'},
                                                        ]},
                            {'origine':'A660','destination':'N10','cam_o':19, 'cam_d':5,'trajets':[{'cameras':[19,1,5],'type_trajet':'indirect'},
                                                         {'cameras':[19,4,5],'type_trajet':'indirect'},
                                                         {'cameras':[19,5],'type_trajet':'direct'},
                                                        ]}
                           ]))[['origine', 'destination', 'cam_o', 'cam_d','trajets']]

In [99]:
liste_complete_trajet=pd.DataFrame([[tuple(liste_cam['cameras']),value[0],value[1],value[2],value[3],len(liste_cam['cameras'])] for obj, value in liste_trajet_locale.iterrows() for liste_cam in value[4]],
             columns=['cameras','origine','destination','cam_o','cam_d','nb_cams'])
liste_complete_trajet=liste_complete_trajet.sort_values('nb_cams',ascending=False)
liste_complete_trajet

               cameras origine destination  cam_o  cam_d  nb_cams
0   (15, 19, 4, 5, 11)     A63         A10     15     11        5
1   (15, 19, 1, 5, 11)     A63         A10     15     11        5
12  (12, 6, 2, 18, 13)     A10         A63     12     13        5
13  (12, 6, 3, 18, 13)     A10         A63     12     13        5
15      (12, 6, 3, 13)     A10         A63     12     13        4
30      (6, 2, 18, 13)     N10         A63      6     13        4
56      (15, 19, 4, 7)     A63         A89     15      7        4
36      (10, 4, 5, 11)     A62         A10     10     11        4
25      (15, 19, 1, 5)     A63         N10     15      5        4
24      (15, 19, 4, 5)     A63         N10     15      5        4
52      (8, 3, 18, 13)     A89         A63      8     13        4
40       (12, 6, 3, 9)     A10         A62     12      9        4
77      (19, 1, 5, 11)    A660         A10     19     18        4
18     (12, 3, 18, 13)     A10         A63     12     13        4
17     (12, 2, 18, 13)     A10         A63     12     13        4
16     (12, 6, 18, 13)     A10         A63     12     13        4
14      (12, 6, 2, 13)     A10         A63     12     13        4
76      (19, 4, 5, 11)    A660         A10     19     18        4
70      (12, 6, 2, 18)     A10        A660     12     18        4
71      (12, 6, 3, 18)     A10        A660     12     18        4
6      (15, 19, 1, 11)     A63         A10     15     11        4
5      (15, 19, 4, 11)     A63         A10     15     11        4
4      (15, 19, 5, 11)     A63         A10     15     11        4
3       (15, 1, 5, 11)     A63         A10     15     11        4
2       (15, 4, 5, 11)     A63         A10     15     11        4
31      (6, 3, 18, 13)     N10         A63      6     13        4
57          (15, 4, 7)     A63         A89     15      7        3
50        (10, 18, 13)     A62         A63     10     13        3
84          (19, 4, 7)    A660         A89     19      7        3
48         (15, 19, 9)     A63         A62     15      9        3
..                 ...     ...         ...    ...    ...      ...
88          (6, 2, 18)     N10        A660      6     18        3
41          (12, 3, 9)     A10         A62     12      9        3
42          (12, 6, 9)     A10         A62     12      9        3
74         (12, 6, 18)     A10        A660     12     18        3
82             (19, 9)    A660         A62     19      9        2
87             (8, 18)     A89        A660      8     18        2
81            (19, 11)    A660         A10     19     18        2
90             (6, 18)     N10        A660      6     18        2
83            (10, 18)     A62        A660     10     18        2
75            (12, 18)     A10        A660     12     18        2
85             (19, 7)    A660         A89     19      7        2
47              (6, 9)     N10         A62      6      9        2
69              (6, 7)     N10         A89      6      7        2
68              (8, 5)     A89         N10      8      5        2
11            (15, 11)     A63         A10     15     11        2
23            (12, 13)     A10         A63     12     13        2
29             (15, 5)     A63         N10     15      5        2
35             (6, 13)     N10         A63      6     13        2
39            (10, 11)     A62         A10     10     11        2
43             (12, 9)     A10         A62     12      9        2
45             (10, 5)     A62         N10     10      5        2
49             (15, 9)     A63         A62     15      9        2
51            (10, 13)     A62         A63     10     13        2
55             (8, 13)     A89         A63      8     13        2
59             (15, 7)     A63         A89     15      7        2
61              (8, 9)     A89         A62      8      9        2
63             (10, 7)     A62         A89     10      7        2
65             (8, 11)     A89         A10      8     11        2
67             (12, 7)     A10         A89     12      7        2
93             (19, 5)    A660         N10     19      5        2

[94 rows x 6 columns]

IMPORTANT : VERIF DES DOUBLONS ENTRE LES TRAJETS

In [830]:
df_depart=dico_od.loc[dico_od['destination']=='A89'].copy()
jointure=df_depart.merge(dico_od, on='immat')
jointure=jointure.loc[jointure.date_cam_1_x!=jointure.date_cam_1_y].copy()
(jointure.loc[((jointure.date_cam_1_y>=jointure.date_cam_1_x) & (jointure.date_cam_1_y<=jointure.date_cam_2_x)) |
              ((jointure.date_cam_2_y>=jointure.date_cam_1_x) & (jointure.date_cam_2_y<=jointure.date_cam_2_x))])

Empty DataFrame
Columns: [date_cam_1_x, immat, state_x, l_x, date_cam_2_x, cameras_x, origine_x, destination_x, o_d_x, tps_parcours_x, date_cam_1_y, state_y, l_y, date_cam_2_y, cameras_y, origine_y, destination_y, o_d_y, tps_parcours_y]
Index: []

CREER LE TABLEAU DE MATRICE O-D

In [114]:
#MATRICE O-D !!II!
pd.pivot_table(dico_od,values='l', index='origine', columns='destination',aggfunc='count', margins=True )

destination    A10    A62     A63   A660    A89     N10   All
origine
A10            NaN  392.0   262.0  189.0   48.0     NaN   891
A62          179.0    NaN    55.0  107.0   56.0   216.0   613
A63          540.0   31.0     NaN    NaN  155.0  2555.0  3281
A660         179.0   79.0     NaN    NaN  117.0   423.0   798
A89           49.0  136.0   199.0  176.0    NaN   130.0   690
N10            NaN  294.0   841.0  315.0   63.0     NaN  1513
All          947.0  932.0  1357.0  787.0  439.0  3324.0  7786

POURCENTAGE PL PAR PLAGE HORAIRE ET CAMERA

In [432]:
#isoler pl source
groupe_tv_type_simple=df_journee.groupby('immat')['l'].apply(lambda x:test_unicite_type(list(x),mode='1/2')).reset_index().drop_duplicates('immat')
df_pl=df_journee.join(groupe_tv_type_simple.loc[groupe_tv_type_simple['l']==1].set_index('immat'),on='immat',how='inner',rsuffix='_right')
df_pl.set_index('created',inplace=True)

#obtenir les nb de pl par heure et par camera sur la source
df_synthese_pl_tot=df_pl.groupby('camera_id').resample('H').count()['immat'].rename(column={'immat':'nb_pl_tot'})
df_synthese_pl_transit=dico_passag.set_index('created').groupby('camera_id').resample('H').count()['immat'].rename(column={'immat':'nb_pl_transit'})
df_pct_pl_transit=pd.concat([df_synthese_pl_tot,df_synthese_pl_transit], axis=1, join='inner')
df_pct_pl_transit.columns=[['nb_pl_tot','nb_pl_transit']]
df_pct_pl_transit['pct_pl_transit']=df_pct_pl_transit.apply(lambda x : float(x['nb_pl_transit'])*100 / x['nb_pl_tot'] ,axis=1)
df_pct_pl_transit

In [120]:
pct_pl=t.pourcentage_pl_camera('2019-01-28 00:00:00', 1,df_3semaines.reset_index(),dico_passag)
pct_pl

                              nb_pl_tot nb_pl_transit pct_pl_transit
camera_id created
1         2019-01-28 06:00:00         0             1            inf
          2019-01-28 07:00:00        35             3       8.571429
          2019-01-28 08:00:00       196             6       3.061224
          2019-01-28 09:00:00       212             4       1.886792
          2019-01-28 10:00:00       213             5       2.347418
          2019-01-28 11:00:00       171             8       4.678363
          2019-01-28 12:00:00       221             2       0.904977
          2019-01-28 13:00:00       226             4       1.769912
          2019-01-28 14:00:00       189             6       3.174603
          2019-01-28 15:00:00       170             6       3.529412
          2019-01-28 16:00:00        84            15      17.857143
          2019-01-28 17:00:00         0             1            inf
          2019-01-28 18:00:00         0             1            inf
          2019-01-28 19:00:00         0             1            inf
          2019-01-28 20:00:00         0             0            NaN
          2019-01-28 21:00:00         0             0            NaN
          2019-01-28 22:00:00         0             0            NaN
          2019-01-28 23:00:00         0             0            NaN
          2019-01-29 00:00:00         0             0            NaN
          2019-01-29 01:00:00         0             0            NaN
          2019-01-29 02:00:00         0             0            NaN
          2019-01-29 03:00:00         0             0            NaN
          2019-01-29 04:00:00         0             0            NaN
          2019-01-29 05:00:00         0             0            NaN
          2019-01-29 06:00:00         0             0            NaN
          2019-01-29 07:00:00        18             1       5.555556
          2019-01-29 08:00:00       196             0       0.000000
          2019-01-29 09:00:00       227             0       0.000000
          2019-01-29 10:00:00       234             0       0.000000
          2019-01-29 11:00:00       187             1       0.534759
...                                 ...           ...            ...
19        2019-01-28 08:00:00       341           263      77.126100
          2019-01-28 09:00:00       436           350      80.275229
          2019-01-28 10:00:00       433           337      77.829099
          2019-01-28 11:00:00       349           311      89.111748
          2019-01-28 12:00:00       294           237      80.612245
          2019-01-28 13:00:00       342           287      83.918129
          2019-01-28 14:00:00       352           274      77.840909
          2019-01-28 15:00:00       295           251      85.084746
          2019-01-28 16:00:00       286           183      63.986014
          2019-01-28 17:00:00        45            77     171.111111
          2019-01-28 18:00:00         0            60            inf
          2019-01-28 19:00:00         0            49            inf
          2019-01-28 20:00:00         0            45            inf
          2019-01-28 21:00:00         0            39            inf
          2019-01-28 22:00:00         0            25            inf
          2019-01-28 23:00:00         0             6            inf
          2019-01-29 00:00:00         0             5            inf
          2019-01-29 01:00:00         0             0            NaN
          2019-01-29 02:00:00         0             0            NaN
          2019-01-29 03:00:00         0             1            inf
          2019-01-29 04:00:00         0            13            inf
          2019-01-29 05:00:00         0            14            inf
          2019-01-29 06:00:00         0            10            inf
          2019-01-29 07:00:00        39            16      41.025641
          2019-01-29 08:00:00       439            28       6.378132
          2019-01-29 09:00:00       527            18       3.415560
          2019-01-29 10:00:00       508             3       0.590551
          2019-01-29 11:00:00       470             2       0.425532
          2019-01-29 12:00:00       475             0       0.000000
          2019-01-29 13:00:00       505             1       0.198020

[443 rows x 3 columns]

TESTS DONNEES COMPLETES

In [113]:
dico_od,  dico_passag=t.transit_temps_complet('2019-01-28 00:00:00',1,df_3semaines)

date : 2019-01-28 00:00:00 debut_traitement : 2019-04-11 16:06:32.465169
date : 2019-01-28 01:00:00 debut_traitement : 2019-04-11 16:06:33.121292
date : 2019-01-28 02:00:00 debut_traitement : 2019-04-11 16:06:33.683661
date : 2019-01-28 03:00:00 debut_traitement : 2019-04-11 16:06:34.277275
date : 2019-01-28 04:00:00 debut_traitement : 2019-04-11 16:06:34.855262
date : 2019-01-28 05:00:00 debut_traitement : 2019-04-11 16:06:35.714406
date : 2019-01-28 06:00:00 debut_traitement : 2019-04-11 16:06:37.057870
date : 2019-01-28 07:00:00 debut_traitement : 2019-04-11 16:06:38.635640
date : 2019-01-28 08:00:00 debut_traitement : 2019-04-11 16:06:40.588310
date : 2019-01-28 09:00:00 debut_traitement : 2019-04-11 16:06:43.384482
date : 2019-01-28 10:00:00 debut_traitement : 2019-04-11 16:06:47.242982
date : 2019-01-28 11:00:00 debut_traitement : 2019-04-11 16:06:49.836120
date : 2019-01-28 12:00:00 debut_traitement : 2019-04-11 16:06:52.429231
date : 2019-01-28 13:00:00 debut_traitement : 2019-04-11 16:06:55.151200
date : 2019-01-28 14:00:00 debut_traitement : 2019-04-11 16:06:57.869286
date : 2019-01-28 15:00:00 debut_traitement : 2019-04-11 16:07:01.571541
date : 2019-01-28 16:00:00 debut_traitement : 2019-04-11 16:07:04.586473
date : 2019-01-28 17:00:00 debut_traitement : 2019-04-11 16:07:07.554550
date : 2019-01-28 18:00:00 debut_traitement : 2019-04-11 16:07:09.241646
date : 2019-01-28 19:00:00 debut_traitement : 2019-04-11 16:07:10.444458
date : 2019-01-28 20:00:00 debut_traitement : 2019-04-11 16:07:11.412983
date : 2019-01-28 21:00:00 debut_traitement : 2019-04-11 16:07:12.209712
date : 2019-01-28 22:00:00 debut_traitement : 2019-04-11 16:07:12.975117
date : 2019-01-28 23:00:00 debut_traitement : 2019-04-11 16:07:13.631212

In [116]:
dico_passag

,created,camera_id,immat,fiability,l,state
0,2019-01-28 00:00:49,15,a771c35176f0949db397d781b2237d50b2571ab8,89,-1,ES
1,2019-01-28 01:01:26,5,a771c35176f0949db397d781b2237d50b2571ab8,59,0,ES
2,2019-01-28 00:01:10,15,17abfef9b79b811fb4d0e1507bb8a5ee568c74b2,89,-1,ES
3,2019-01-28 00:48:07,4,17abfef9b79b811fb4d0e1507bb8a5ee568c74b2,64,0,ES
4,2019-01-28 00:58:42,5,17abfef9b79b811fb4d0e1507bb8a5ee568c74b2,99,0,ES
5,2019-01-28 00:02:26,15,b2fa50a5e7dd38edd86e486731ac6828c7d3f869,99,-1,ES
6,2019-01-28 00:31:45,19,b2fa50a5e7dd38edd86e486731ac6828c7d3f869,99,0,ES
7,2019-01-28 00:49:11,4,b2fa50a5e7dd38edd86e486731ac6828c7d3f869,89,0,ES
8,2019-01-28 00:59:44,5,b2fa50a5e7dd38edd86e486731ac6828c7d3f869,99,0,ES
9,2019-01-28 00:03:24,15,8211219bb3ec7748d8d1a0d3c641d77ffde35a13,99,-1,ES
10,2019-01-28 00:32:35,19,8211219bb3ec7748d8d1a0d3c641d77ffde35a13,99,0,ES
11,2019-01-28 00:50:41,4,8211219bb3ec7748d8d1a0d3c641d77ffde35a13,99,0,ES
12,2019-01-28 01:02:11,5,8211219bb3ec7748d8d1a0d3c641d77ffde35a13,99,0,ES
13,2019-01-28 00:03:42,15,6fce4c9350f1fcc0a6ff824a3fe1bc4f0c31b44e,99,-1,ES
14,2019-01-28 09:46:58,19,6fce4c9350f1fcc0a6ff824a3fe1bc4f0c31b44e,99,0,ES
15,2019-01-28 10:07:20,4,6fce4c9350f1fcc0a6ff824a3fe1bc4f0c31b44e,99,-1,ES
16,2019-01-28 10:42:21,11,6fce4c9350f1fcc0a6ff824a3fe1bc4f0c31b44e,99,0,ES
17,2019-01-28 00:03:52,15,325285ea8eca177b3ea744c54b2f931412ee77dd,100,-1,BE
18,2019-01-28 01:20:55,19,325285ea8eca177b3ea744c54b2f931412ee77dd,99,0,BE
19,2019-01-28 01:38:38,4,325285ea8eca177b3ea744c54b2f931412ee77dd,99,0,BE
20,2019-01-28 01:49:08,5,325285ea8eca177b3ea744c54b2f931412ee77dd,99,0,BE
21,2019-01-28 00:04:00,15,97fad0c6d306337a62e747f2c820f324f422233d,99,-1,ES
22,2019-01-28 00:33:49,19,97fad0c6d306337a62e747f2c820f324f422233d,99,0,ES
23,2019-01-28 00:51:45,4,97fad0c6d306337a62e747f2c820f324f422233d,99,0,ES
24,2019-01-28 01:02:48,5,97fad0c6d306337a62e747f2c820f324f422233d,99,0,ES
25,2019-01-28 00:04:01,15,34097bb26aa6d1bdfecb0b85c618a381c1e75588,100,-1,ES
26,2019-01-28 00:53:07,4,34097bb26aa6d1bdfecb0b85c618a381c1e75588,99,0,ES
27,2019-01-28 01:04:27,5,34097bb26aa6d1bdfecb0b85c618a381c1e75588,99,0,ES
28,2019-01-28 00:05:52,15,66f728d9cdeb9772e6ecd85afa4d7e41175ed204,99,-1,ES
29,2019-01-28 00:54:14,4,66f728d9cdeb9772e6ecd85afa4d7e41175ed204,89,0,ES
...,...,...,...,...,...,...
119,2019-01-29 10:04:18,4,69ac245dbb49b29f5244cfba186511e15a33c49f,99,1,ES
120,2019-01-29 10:14:49,5,69ac245dbb49b29f5244cfba186511e15a33c49f,99,1,ES
121,2019-01-28 23:56:12,15,2876909b29b2793c2af3b7d6d46a7042eaf815d2,99,-1,ES
122,2019-01-29 00:27:07,19,2876909b29b2793c2af3b7d6d46a7042eaf815d2,99,0,ES
123,2019-01-29 00:47:05,4,2876909b29b2793c2af3b7d6d46a7042eaf815d2,99,0,ES
124,2019-01-29 00:58:13,5,2876909b29b2793c2af3b7d6d46a7042eaf815d2,99,0,ES
125,2019-01-28 23:56:38,15,1e973593d2c23a2c22003d639ff5c72db4c4aaac,89,-1,ES
126,2019-01-29 11:39:59,19,1e973593d2c23a2c22003d639ff5c72db4c4aaac,89,0,ES
127,2019-01-29 11:59:13,4,1e973593d2c23a2c22003d639ff5c72db4c4aaac,89,0,ES
128,2019-01-29 12:09:44,5,1e973593d2c23a2c22003d639ff5c72db4c4aaac,89,0,ES
129,2019-01-28 23:59:17,15,db9debfda125c3efec32c8e8b32dc9d9759ffa04,99,-1,BE
130,2019-01-29 00:51:15,4,db9debfda125c3efec32c8e8b32dc9d9759ffa04,88,0,BE
131,2019-01-29 01:07:24,5,db9debfda125c3efec32c8e8b32dc9d9759ffa04,99,0,BE
0,2019-01-28 23:51:45,12,54a3fa9708cce32431a2a739099fe7f4ab394404,99,0,FR
1,2019-01-29 00:55:05,6,54a3fa9708cce32431a2a739099fe7f4ab394404,99,0,FR
2,2019-01-29 01:06:06,3,54a3fa9708cce32431a2a739099fe7f4ab394404,99,0,FR
3,2019-01-29 01:24:00,18,54a3fa9708cce32431a2a739099fe7f4ab394404,99,0,FR
4,2019-01-29 01:53:10,13,54a3fa9708cce32431a2a739099fe7f4ab394404,99,-1,FR
0,2019-01-28 23:37:10,8,aa4419e20db848606455dd6c3ade5841fbd0815d,99,0,CZ
1,2019-01-28 23:52:59,3,aa4419e20db848606455dd6c3ade5841fbd0815d,99,0,CZ
2,2019-01-29 00:11:35,18,aa4419e20db848606455dd6c3ade5841fbd0815d,99,0,CZ
3,2019-01-29 00:56:30,13,aa4419e20db848606455dd6c3ade5841fbd0815d,99,-1,CZ
4,2019-01-28 23:42:28,8,13c9b885389ad4d59feaaac9eec0b330349c33f4,99,0,IT
5,2019-01-29 00:00:13,3,13c9b885389ad4d59feaaac9eec0b330349c33f4,99,0,IT
6,2019-01-29 00:08:52,9,13c9b885389ad4d59feaaac9eec0b330349c33f4,99,0,IT
9,2019-01-28 23:48:40,8,4992d1493776509903849bbdd1db542501982d36,99,0,FR
10,2019-01-29 00:11:28,3,4992d1493776509903849bbdd1db542501982d36,99,0,FR
11,2019-01-29 00:29:08,18,4992d1493776509903849bbdd1db542501982d36,99,0,FR
15,2019-01-28 23:57:46,8,9e0bfba343d7a0ac02f830bca8cc85a4b5667511,56,0,FR
16,2019-01-29 01:17:07,13,9e0bfba343d7a0ac02f830bca8cc85a4b5667511,59,-1,FR

In [30]:
# #retrouver une immatriculatiob dans les donnÃ©es completes
df_3semaines.loc[df_3semaines['immat']=='fffbb020a440bbec286fc41d4b70865e990b4bb7']

,camera_id,immat,fiability,l,state
created,,,,,
2019-02-10 09:38:43,4,fffbb020a440bbec286fc41d4b70865e990b4bb7,99,1,FR
2019-02-10 09:49:02,5,fffbb020a440bbec286fc41d4b70865e990b4bb7,99,1,FR
2019-02-10 09:50:56,10,fffbb020a440bbec286fc41d4b70865e990b4bb7,99,1,FR
2019-02-10 10:07:29,11,fffbb020a440bbec286fc41d4b70865e990b4bb7,99,0,FR

In [865]:
#verif sur un trajet a un horaire donnee sur un trajet global
dico_od.loc[dico_od['immat']=='2da9c14f66a652882b65149a257de9f25f5a5a24']

Empty DataFrame
Columns: [date_cam_1, immat, state, l, date_cam_2, cameras, origine, destination, o_d, tps_parcours]
Index: []

In [570]:
test.df_transit.o_d.unique()

array(['N10-A660', 'N10-A62', 'N10-A63', 'N10-A89', 'A10-A62', 'A10-A660',
       'A10-A63', 'A10-A89'], dtype=object)

In [109]:
#verif a un horaire donne sur un trajet direct ou indirect
%time test=t.trajet(df_3semaines.loc['2019-01-29 00:00:00':'2019-01-30 15:00:00'], '2019-01-29 06:00:00', 60, [10,4],typeTrajet='Direct')

Wall time: 328 ms

In [106]:
test.df_str

,immat,date_cam_1,date_cam_2,tps_parcours,cameras
0,365647f29035fb7224db10ef1a65d7287255df33,2019-01-29 06:57:20,2019-01-29 11:15:40,04:18:20,"(10, 4, 5)"
1,3e9284ec91aef8a6ebb03292245f310ed756ec0a,2019-01-29 06:19:48,2019-01-29 11:31:52,05:12:04,"(10, 4, 5)"

In [135]:
#pour test des fonctions de trajets directs
df_duree=df_3semaines.loc['2019-01-29 21:00:00':'2019-01-30 15:00:00'].loc['2019-01-29 21:00:00':'2019-01-29 22:00:00']
df_duree_cam1=df_duree.loc[df_duree.loc[:,'camera_id']==19]
df_duree_autres_cam=df_3semaines.loc['2019-01-29 21:00:00':'2019-01-30 15:00:00'].loc[(df_3semaines.loc['2019-01-29 21:00:00':'2019-01-30 15:00:00'].loc[:,'immat'].isin(df_duree_cam1.loc[:,'immat']))]
cam1_croise_autre_cam=df_duree_cam1.reset_index().merge(df_duree_autres_cam.reset_index(), on='immat')
cam1_croise_suivant=cam1_croise_autre_cam.loc[(cam1_croise_autre_cam.loc[:,'created_x']<cam1_croise_autre_cam.loc[:,'created_y'])]
cam1_fastest_next=cam1_croise_suivant.loc[cam1_croise_suivant.groupby(['immat'])['created_y'].idxmin()]

In [ ]:
#pour test des fonctions de trajets global 
liste_trajet_od=[(15,19,4,5),(15,5),(15,4,5),(15,19,5)]
camera1, camera2=15, 5
df=df_3semaines.loc['2019-01-28 00:00:00':'2019-01-29 23:59:59']
df_duree=df.loc['2019-01-28 00:00:00':'2019-01-28 01:00:00']
df_duree_cam1=df_duree.loc[df_duree.loc[:,'camera_id']==camera1]
df_duree_autres_cam=df.loc[(df.loc[:,'immat'].isin(df_duree_cam1.loc[:,'immat']))]
df_autres_cam_temp_ok=df_duree_autres_cam.loc['2019-01-29 08:00:00':'2019-01-30 08:00:00']
groupe=(df_autres_cam_temp_ok.sort_index().reset_index().groupby('immat').agg({'camera_id':lambda x : tuple(x), 'l': lambda x : test_unicite_type(list(x),'1/2'),
                                                                        'created':lambda x: tuple(x)}))

groupe['camera_id']=groupe.apply(lambda x : filtrer_passage(x['camera_id'],df_liste_trajet),axis=1)

groupe['created']=groupe.apply(lambda x : recuperer_date_cam2(x['camera_id'],x['created'],liste_trajet_od),axis=1)

df_agrege=df_duree_cam1.join(groupe,on='immat',lsuffix='_left')[['immat', 'l','camera_id','created']].rename(columns={'created':'date_cam_2', 'camera_id':'cameras'})
df_agrege=df_agrege.reset_index().rename(columns={'created':'date_cam_1'})
df_agrege['tps_parcours']=df_agrege.apply(lambda x : x.date_cam_2-x.date_cam_1, axis=1)

df_trajet=df_agrege.loc[df_agrege['cameras'].isin(liste_trajet_od)]
df_trajet_final=(df_trajet.loc[(df_trajet['cameras'].apply(lambda x : x[-1])==camera2) & (df_trajet['l']==1)
                                  & (df_trajet['tps_parcours'] < pd.Timedelta('11:30:00'))])

In [810]:
%%time
camera1, camera2=10,18
df=df_3semaines.loc['2019-01-28 10:00:00':'2019-01-29 23:59:59']
df_duree=df.loc['2019-01-28 10:00:00':'2019-01-28 11:00:00']
df_duree_cam1=df_duree.loc[df_duree.loc[:,'camera_id']==camera1]
df_duree_autres_cam=df.loc[(df.loc[:,'immat'].isin(df_duree_cam1.loc[:,'immat']))]
groupe=(df_duree_autres_cam.sort_index().reset_index().groupby('immat').agg({'camera_id':lambda x : tuple(x), 'l': lambda x : test_unicite_type(list(x),'1/2'),
                                                                               'created':lambda x: tuple(x)}))
groupe_pl=groupe.loc[groupe['l']==1].copy()
groupe_pl['camera_id']=groupe_pl.apply(lambda x : filtrer_passage(x['camera_id'],liste_complete_trajet,camera1),axis=1)#on filtre les cameras selon la liste des trajets existants
groupe_pl['created']=groupe_pl.apply(lambda x : recuperer_date_cam2(x['camera_id'],x['created'],liste_complete_trajet,camera1),axis=1)
df_ts_trajets=(groupe_pl.reset_index().merge(liste_complete_trajet[['cameras','origine','destination']],right_on='cameras', left_on='camera_id').
               rename(columns={'created':'date_cam_2'}).drop('camera_id',axis=1))
df_ts_trajets['o_d']=df_ts_trajets.apply(lambda x : x['origine']+'-'+x['destination'],axis=1)
df_agrege=df_duree_cam1.reset_index().merge(df_ts_trajets,on='immat').drop(['camera_id', 'l_x','state','fiability'],axis=1).rename(columns={'l_y':'l','created':'date_cam_1'})
df_agrege['tps_parcours']=df_agrege.apply(lambda x : x.date_cam_2-x.date_cam_1, axis=1)
df_agrege=df_agrege.loc[df_agrege['date_cam_2'] > df_agrege['date_cam_1']]

df_joint_passag_transit=df_agrege.merge(df_duree_autres_cam.reset_index(), on='immat')
df_passag_transit1=df_joint_passag_transit.loc[(df_joint_passag_transit.apply(lambda x : x['camera_id'] in x['cameras'], axis=1))]
df_passag_transit=(df_passag_transit1.loc[df_passag_transit1.apply(lambda x : x['date_cam_1']<=x['created']<=x['date_cam_2'], axis=1)]
                [['created','camera_id','immat','fiability','l_y','state']].rename(columns={'l_y':'l'}))

Wall time: 344 ms

In [811]:
#groupe_pl.loc[groupe_pl['created']>'2019-01-28 16:18:00'].sort_values('created')
#groupe.loc['2da9c14f66a652882b65149a257de9f25f5a5a24']
df_duree_cam1.loc[df_duree_cam1['immat']=='0c48c7cb179c4a15c18f2d4bb5434a7d2611e463']

,camera_id,immat,fiability,l,state
created,,,,,
2019-01-28 10:13:59,10,0c48c7cb179c4a15c18f2d4bb5434a7d2611e463,66,1,BE/SM
2019-01-28 10:33:53,10,0c48c7cb179c4a15c18f2d4bb5434a7d2611e463,77,1,BE/SM

In [812]:
df_agrege.loc[df_agrege['immat']=='0c48c7cb179c4a15c18f2d4bb5434a7d2611e463']

,date_cam_1,immat,l,date_cam_2,cameras,origine,destination,o_d,tps_parcours
14,2019-01-28 10:13:59,0c48c7cb179c4a15c18f2d4bb5434a7d2611e463,1,2019-01-28 10:17:38,"(10, 5)",A62,N10,A62-N10,00:03:39

In [785]:
def filtrer_passage(liste, df_liste_trajet, cam) :
    for liste_cams in [a for a in liste_complete_trajet.cameras.tolist() if a[0]==cam] :
        if liste[:len(liste_cams)]==tuple(liste_cams):
            return liste[:len(liste_cams)]
    else : return liste

In [786]:
def recuperer_date_cam2(liste,liste_created,df_liste_trajet, cam):
    for liste_cams in [a for a in liste_complete_trajet.cameras.tolist() if a[0]==cam] :
        if liste[:len(liste_cams)]==tuple(liste_cams):
            return liste_created[len(liste_cams)-1]
    else : return liste_created[-1]

In [784]:
[a for a in liste_complete_trajet.cameras.tolist() if a[0]==19]

[(19, 1, 5, 11),
 (19, 4, 5, 11),
 (19, 4, 7),
 (19, 4, 11),
 (19, 5, 11),
 (19, 1, 11),
 (19, 4, 5),
 (19, 1, 5),
 (19, 9),
 (19, 11),
 (19, 7),
 (19, 5)]

In [623]:
filtrer_passage((10, 4, 5, 3, 9, 4, 10, 5, 7, 8, 6, 3, 9),liste_complete_trajet)

(10, 4, 5)

In [760]:
for cameras in zip([15,12,8,10,19,6],range(6)):
    print (cameras)

(15, 0)
(12, 1)
(8, 2)
(10, 3)
(19, 4)
(6, 5)