Test du projet de class trajets indirect

In [2]:
%load_ext autoreload
%autoreload 2
import sys #c'est pas propre mais pour le moment pour importer mes modules perso dans le notebook je ne sais pas faire
sys.path.append(r'C:\Users\martin.schoreisz\git\Outils\Outils\Martin_Perso')
import traitement_od as t
import pandas as pd
import numpy as np
import altair as alt
import datetime as dt
pd.set_option('display.max_colwidth', 1000)
import os
from sklearn.cluster import DBSCAN

In [3]:
%time df_3semaines=t.ouvrir_fichier_lapi('2019-01-29 00:00:00','2019-02-17 23:59:59').set_index('created').sort_index()

Wall time: 1min 30s

In [12]:
df_journee=t.ouvrir_fichier_lapi('2019-01-29','2019-01-31')

In [133]:
df_journee

,camera_id,immat,fiability,l,state
created,,,,,
2019-01-29 00:00:02,13,8b1b888305c26503d9b83b38ea6516402d985c5f,99,-1,BE
2019-01-29 00:00:03,8,c0dd4662304e0901a0866dabc8de414d8e19206d,99,0,IT
2019-01-29 00:00:03,14,d17d965f7b65bfb2fd814867bd3c714968d07328,99,-1,PT
2019-01-29 00:00:04,5,9713b42132193b69c5a68909f0ee2630a06bc8e0,99,0,FR
2019-01-29 00:00:05,10,1786fdedee0acfb8629e9b5cd61104d77bce066f,39,0,ES
2019-01-29 00:00:05,3,b9faa07d52299826c97a48b9974cdf7e17bf55d8,99,0,FR
2019-01-29 00:00:06,3,332a381c558c51acef76ab04873f438bd530015d,99,0,FR
2019-01-29 00:00:10,3,a099baf2aac15755c014ba2593797dcd903b95fb,89,0,FR
2019-01-29 00:00:13,3,13c9b885389ad4d59feaaac9eec0b330349c33f4,99,0,IT
2019-01-29 00:00:16,13,eb6f55aa65de64ceea578534c5d689c830cc83d4,99,-1,RO
2019-01-29 00:00:17,11,d52d7fe21684c9716507c437a97a097c19f7aa82,69,0,BE
2019-01-29 00:00:17,9,f60e6d6732cff0cee39550e877c5450d3fea1a37,89,0,
2019-01-29 00:00:18,3,3291d64f5af665fe8f40bc53567243cac0631857,69,0,FR
2019-01-29 00:00:19,9,4e010c8e966d03fda66e9bb1e4be464b7a603fa4,89,0,AT/IT
2019-01-29 00:00:20,4,647aca2c20fe317187e30f2a9218ca70af746328,34,0,FR
2019-01-29 00:00:22,10,594b8f4b160a3e2ca22183bc618b4ed944cc90fd,69,0,FR
2019-01-29 00:00:23,3,ea3fac4999d475c36ca6599a350b8112745c2920,99,0,FR
2019-01-29 00:00:26,5,2e96ca72f9937b680579a3c088cc7bbb05c6dade,99,0,FR
2019-01-29 00:00:26,3,1372e30cf7e9f66256382a8e557b36c4153781d6,69,0,PL
2019-01-29 00:00:29,5,f94e283cc61de5979326ff065e511672c76bfb92,79,0,IT
2019-01-29 00:00:30,13,ac981b585f90cb04eff338d4493629d88f82ed2e,99,0,IT
2019-01-29 00:00:30,10,1a03f57b83575c050f990ada63eacbcf70b57864,89,0,FR
2019-01-29 00:00:30,4,e688233bedf2cc8ba70fa6f0f592fe4167206411,38,0,NL
2019-01-29 00:00:41,5,85bb2101e7da6aa3e8e227cf741dfdb2e1bacf25,99,0,FR
2019-01-29 00:00:42,19,12bae96beacfdbf21b90e1464adf2c50c54839bb,89,0,ES
2019-01-29 00:00:50,4,4bfd51404ded75cf30fb9e776550a62acca03eb5,59,0,FR
2019-01-29 00:00:51,4,d36214fa8f8d3a404871ef0be3fd64fb800f827d,78,0,FR
2019-01-29 00:00:51,4,b1a87cff3213b73fdae16b4ee834fd0b49d1155a,99,0,PT
2019-01-29 00:00:56,13,d0bb1e76bad65c84cf6d4cc5c0eb1afe1f8915ef,99,-1,PL
2019-01-29 00:00:58,1,82be6a049ace7de8aa759d1c34830a46b9f632a4,35,-1,FR/IT
...,...,...,...,...,...
2019-01-30 23:59:14,19,64a3aa5f70ce28f22d48b2541aefa05e35c4fb60,68,0,BE
2019-01-30 23:59:14,3,51e92d85133e5e8bbd8d493ac24505cdae876889,89,0,FR/IT
2019-01-30 23:59:14,3,11acf9db8c2a3504dd45c7a304281fa380438ad9,69,0,FR
2019-01-30 23:59:14,19,7581020555a4cf859b92685a75f3e7507b9f3038,99,0,FR
2019-01-30 23:59:15,2,1e3184ffbaf70d3d298ee527fd705a379168bd4a,44,0,FR
2019-01-30 23:59:16,5,c50360a6ebd6186a882cba2fbf4113f4b8d7f83a,79,0,FR
2019-01-30 23:59:17,2,c44bcac4004bf7a960807506ae76957f64cc17d1,46,0,FR
2019-01-30 23:59:25,8,cdd9fe12047488bc76cc44930116cf7ba7028e5c,77,0,FR
2019-01-30 23:59:27,12,17bf1e76355d3238cf9ac08839005f926582f920,99,0,BE
2019-01-30 23:59:28,6,fc20eae952bcb8e2f49bb4eba681164f20ca59dc,99,0,FR
2019-01-30 23:59:30,6,c5533cbc04fa763d055a84dcd3f010bf9a242f54,99,0,PT
2019-01-30 23:59:31,10,861b076a56caf7cb5723b572ee2a060335d6b8f0,99,0,FR
2019-01-30 23:59:31,4,ba6d039cb7ad8ecdc46835fcfebad4cbe00edff2,56,0,FR
2019-01-30 23:59:31,18,0b28a1bb15eb5bdc0c9108341a00d80057f76add,99,0,ES
2019-01-30 23:59:33,11,c1daf15e91b82066d3be260839c6c284647a2bec,99,0,FR
2019-01-30 23:59:33,6,49774ea623aa6f6082aa91c46d657874220f2ab8,39,-1,ES
2019-01-30 23:59:34,6,4cf94e0d4728d27b21d00f5ea28002ecee997514,89,0,ES
2019-01-30 23:59:35,4,3604a5e4c926ad2b46544207b2a284bfdd638763,54,0,FR
2019-01-30 23:59:36,18,142876f5fbe203611f5d19ec4fa1ce08be4100f0,99,0,ES
2019-01-30 23:59:37,19,cba724fbee786736fdf6799137fc323e382a353f,99,0,FR
2019-01-30 23:59:37,12,a6ae7e695f8fe606a23f6ed68d2dc2b4aa83f6aa,67,0,PT
2019-01-30 23:59:41,19,941650db546bd464fa3c933f55e5ed4091d5c743,99,0,IT
2019-01-30 23:59:42,6,4c919d36f5fe58cad3e92f40de8778940eec9d45,99,0,FR
2019-01-30 23:59:47,4,9048f22d4715e501e0ab30b390409bcfd92c2af7,99,0,FR
2019-01-30 23:59:50,1,57ac9bf910bae990f7d8a9906ff3a8694fb599ca,35,0,FR
2019-01-30 23:59:52,4,0582216c9c347df8b53d6546622ac51ab65a7312,99,0,FR
2019-01-30 23:59:53,7,9e274c5eeba2c71efb66f9f92b6c2d9dbe0815d6,88,-1,FR
2019-01-30 23:59:54,9,2f3cac719277ba21810754c05805785ffcd43666,99,0,AL
2019-01-30 23:59:55,3,17f65afbd4f86520f3c25aa20e0c2790859001ef,99,0,IT
2019-01-30 23:59:56,12,af7784481ab1f1575c2d13e2a8921a0b7e31bca8,99,0,FR

In [745]:
%time df_3semaines.loc[pd.to_datetime('2019-01-29'):pd.to_datetime('2019-01-30')]

Wall time: 0 ns

,camera_id,immat,fiability,l,state
created,,,,,
2019-01-29 00:00:02,13,8b1b888305c26503d9b83b38ea6516402d985c5f,99,-1,BE
2019-01-29 00:00:03,8,c0dd4662304e0901a0866dabc8de414d8e19206d,99,0,IT
2019-01-29 00:00:03,14,d17d965f7b65bfb2fd814867bd3c714968d07328,99,-1,PT
2019-01-29 00:00:04,5,9713b42132193b69c5a68909f0ee2630a06bc8e0,99,0,FR
2019-01-29 00:00:05,10,1786fdedee0acfb8629e9b5cd61104d77bce066f,39,0,ES
2019-01-29 00:00:05,3,b9faa07d52299826c97a48b9974cdf7e17bf55d8,99,0,FR
2019-01-29 00:00:06,3,332a381c558c51acef76ab04873f438bd530015d,99,0,FR
2019-01-29 00:00:10,3,a099baf2aac15755c014ba2593797dcd903b95fb,89,0,FR
2019-01-29 00:00:13,3,13c9b885389ad4d59feaaac9eec0b330349c33f4,99,0,IT
2019-01-29 00:00:16,13,eb6f55aa65de64ceea578534c5d689c830cc83d4,99,-1,RO
2019-01-29 00:00:17,11,d52d7fe21684c9716507c437a97a097c19f7aa82,69,0,BE
2019-01-29 00:00:17,9,f60e6d6732cff0cee39550e877c5450d3fea1a37,89,0,
2019-01-29 00:00:18,3,3291d64f5af665fe8f40bc53567243cac0631857,69,0,FR
2019-01-29 00:00:19,9,4e010c8e966d03fda66e9bb1e4be464b7a603fa4,89,0,AT/IT
2019-01-29 00:00:20,4,647aca2c20fe317187e30f2a9218ca70af746328,34,0,FR
2019-01-29 00:00:22,10,594b8f4b160a3e2ca22183bc618b4ed944cc90fd,69,0,FR
2019-01-29 00:00:23,3,ea3fac4999d475c36ca6599a350b8112745c2920,99,0,FR
2019-01-29 00:00:26,5,2e96ca72f9937b680579a3c088cc7bbb05c6dade,99,0,FR
2019-01-29 00:00:26,3,1372e30cf7e9f66256382a8e557b36c4153781d6,69,0,PL
2019-01-29 00:00:29,5,f94e283cc61de5979326ff065e511672c76bfb92,79,0,IT
2019-01-29 00:00:30,4,e688233bedf2cc8ba70fa6f0f592fe4167206411,38,0,NL
2019-01-29 00:00:30,13,ac981b585f90cb04eff338d4493629d88f82ed2e,99,0,IT
2019-01-29 00:00:30,10,1a03f57b83575c050f990ada63eacbcf70b57864,89,0,FR
2019-01-29 00:00:41,5,85bb2101e7da6aa3e8e227cf741dfdb2e1bacf25,99,0,FR
2019-01-29 00:00:42,19,12bae96beacfdbf21b90e1464adf2c50c54839bb,89,0,ES
2019-01-29 00:00:50,4,4bfd51404ded75cf30fb9e776550a62acca03eb5,59,0,FR
2019-01-29 00:00:51,4,b1a87cff3213b73fdae16b4ee834fd0b49d1155a,99,0,PT
2019-01-29 00:00:51,4,d36214fa8f8d3a404871ef0be3fd64fb800f827d,78,0,FR
2019-01-29 00:00:56,13,d0bb1e76bad65c84cf6d4cc5c0eb1afe1f8915ef,99,-1,PL
2019-01-29 00:00:58,1,82be6a049ace7de8aa759d1c34830a46b9f632a4,35,-1,FR/IT
...,...,...,...,...,...
2019-01-29 23:58:59,4,43ef0baa1315b2257cc4dfb79ea7bcdae2c8cca3,99,0,RO
2019-01-29 23:59:01,13,0682dbdd149803266b5e16b230b80fe21ebd0627,99,-1,FR
2019-01-29 23:59:01,4,931783d506cc3c35cc115f0bc879943104d18c93,59,0,IT
2019-01-29 23:59:05,12,9e1915cf6822784ca9ad0fc67b3f9f4ea8e9d090,99,0,FR
2019-01-29 23:59:08,10,06a55827a668c55be15e76ade53743b5e1fd3f99,89,0,FR
2019-01-29 23:59:08,1,7439ab3a1bc6a16c1dd6aed95bf7f5f071143dcb,22,0,FR
2019-01-29 23:59:08,18,86e78200e0754c108c3f0b562485448f2c823925,69,0,FR
2019-01-29 23:59:11,4,e6ffd307e4738703fa12949321f820856e64b9ae,99,0,FR
2019-01-29 23:59:15,9,728005430e9691e62521b983affa6a34dd10a6bc,79,0,FR/IT
2019-01-29 23:59:16,8,ef0c99b8cb40bcedd2bf47ab0c8d801faf2ab0f2,99,0,IT
2019-01-29 23:59:17,4,bd4fa5f763b85da36000cd023cf575705273713d,99,0,PT
2019-01-29 23:59:18,4,a722f29a3bb9f7d6558c442719d108e2be3246c3,88,0,FR
2019-01-29 23:59:19,4,fedbde6e389600b01a97fb9568457c7b78047344,99,0,ES
2019-01-29 23:59:23,13,eb5445aa03c4e6791b8ef3547f8f335b5bf99f9d,99,0,FR
2019-01-29 23:59:23,19,b3e4bd8a069c991deca201479a88e01e8dbd26c5,68,0,FR
2019-01-29 23:59:25,3,3654bf4a2a544ec68c837f8642a35c726ac0c32a,99,0,FR
2019-01-29 23:59:28,13,b42f663b1c1959cc1c1bd5ee5fb98ca4e8739518,90,-1,ES
2019-01-29 23:59:29,4,68d613d31443f556300a84232e4360251d5a2782,99,0,ES
2019-01-29 23:59:30,3,315f07f356ca7c31236e10dc39c3e97b0945df34,99,0,PL
2019-01-29 23:59:31,4,d7bebf4db0d56fbf752d374fd8b631b63ef4601e,24,0,BE
2019-01-29 23:59:33,3,09f6fc1f1ccf48a5c4c116ecb1e965ad93317787,68,0,FR
2019-01-29 23:59:35,3,9e1e2d7e4a76b551a4770bff595b9c012d8cf7f6,99,0,IT
2019-01-29 23:59:36,3,770dec185a4a30a5ed80420fb4cb72d428761279,78,0,FR
2019-01-29 23:59:38,12,2fa4eacba356df3add57bb462c9e27e46db77f54,89,0,FR
2019-01-29 23:59:39,3,12536fd5b161b57a5f601b79e5045f99b943d5db,59,0,FR
2019-01-29 23:59:41,3,76adf713e10d8dd023a460a702bd3f2133bbdb64,99,0,FR
2019-01-29 23:59:48,12,b17b6062cd440e2d98839c82db1a40dc9ae55ea1,99,0,FR
2019-01-29 23:59:52,3,d4af30f639c7253d25315dfc829a2510da5825c8,89,0,
2019-01-29 23:59:59,10,22a205762a282575e5234755a85ab0f4e0918c8e,78,0,FR
2019-01-30 00:00:00,19,cf6e07d1da6a3d36c18d6ef8fc4f321b892a2d8a,99,0,ES

LISTE DES TRAJETS

In [153]:
liste_trajet_locale=(pd.DataFrame([{'origine':'A63','destination':'A10','cam_o':14, 'cam_d':11, 'trajets':[
                                                        {'cameras':[14,19,4,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[14,19,1,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[14,4,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[14,1,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[14,19,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[14,19,4,11],'type_trajet':'indirect'},
                                                        {'cameras':[14,19,1,11],'type_trajet':'indirect'},
                                                        {'cameras':[14,4,11],'type_trajet':'indirect'},
                                                        {'cameras':[14,1,11],'type_trajet':'indirect'},
                                                        {'cameras':[14,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[14,19,11],'type_trajet':'indirect'},
                                                        {'cameras':[14,11],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A10','destination':'A63','cam_o':12, 'cam_d':13,'trajets':[{'cameras':[12,6,2,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,6,3,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,6,2,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,6,3,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,6,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,2,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,3,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,2,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,3,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,6,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,13],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A63','destination':'N10','cam_o':14, 'cam_d':5,'trajets':[{'cameras':[14,19,4,5],'type_trajet':'indirect'},
                                                        {'cameras':[14,19,1,5],'type_trajet':'indirect'},
                                                        {'cameras':[14,4,5],'type_trajet':'indirect'},
                                                        {'cameras':[14,1,5],'type_trajet':'indirect'},
                                                        {'cameras':[14,5],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'N10','destination':'A63','cam_o':6, 'cam_d':13,'trajets':[{'cameras':[6,2,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[6,3,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[6,2,13],'type_trajet':'indirect'},
                                                        {'cameras':[6,3,13],'type_trajet':'indirect'},
                                                        {'cameras':[6,13],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A62','destination':'A10','cam_o':10, 'cam_d':11,'trajets':[{'cameras':[10,4,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[10,4,11],'type_trajet':'indirect'},
                                                        {'cameras':[10,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[10,11],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A10','destination':'A62','cam_o':12, 'cam_d':9,'trajets':[{'cameras':[12,6,3,9],'type_trajet':'indirect'},
                                                        {'cameras':[12,3,9],'type_trajet':'indirect'},
                                                        {'cameras':[12,6,9],'type_trajet':'indirect'},
                                                        {'cameras':[12,9],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A62','destination':'N10','cam_o':10, 'cam_d':5,'trajets':[{'cameras':[10,4,5],'type_trajet':'indirect'},
                                                        {'cameras':[10,5],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'N10','destination':'A62','cam_o':6, 'cam_d':9,'trajets':[{'cameras':[6,3,9],'type_trajet':'indirect'},
                                                        {'cameras':[6,9],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A63','destination':'A62','cam_o':14, 'cam_d':9,'trajets':[{'cameras':[14,19,9],'type_trajet':'indirect'},
                                                        {'cameras':[14,9],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A62','destination':'A63','cam_o':10, 'cam_d':13,'trajets':[{'cameras':[10,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[10,13],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A89','destination':'A63','cam_o':8 ,'cam_d':13,'trajets':[{'cameras':[8,3,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[8,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[8,3,13],'type_trajet':'indirect'},
                                                        {'cameras':[8,13],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A63','destination':'A89','cam_o':14, 'cam_d':7,'trajets':[{'cameras':[14,19,4,7],'type_trajet':'indirect'},
                                                        {'cameras':[14,4,7],'type_trajet':'indirect'},
                                                        {'cameras':[14,19,7],'type_trajet':'indirect'},
                                                        {'cameras':[14,7],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A89','destination':'A62','cam_o':8, 'cam_d':9,'trajets':[{'cameras':[8,3,9],'type_trajet':'indirect'},
                                                        {'cameras':[8,9],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A62','destination':'A89','cam_o':10, 'cam_d':7,'trajets':[{'cameras':[10,4,7],'type_trajet':'indirect'},
                                                        {'cameras':[10,7],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A89','destination':'A10','cam_o':8, 'cam_d':11,'trajets':[{'cameras':[8,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[8,11],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A10','destination':'A89','cam_o':12, 'cam_d':7,'trajets':[{'cameras':[12,6,7],'type_trajet':'indirect'},
                                                        {'cameras':[12,7],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A89','destination':'N10','cam_o':8, 'cam_d':5,'trajets':[{'cameras':[8,5],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'N10','destination':'A89','cam_o':6, 'cam_d':7,'trajets':[{'cameras':[6,7],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A10','destination':'A630','cam_o':12, 'cam_d':18,'trajets':[{'cameras':[12,6,2,18],'type_trajet':'indirect'},
                                                         {'cameras':[12,6,3,18],'type_trajet':'indirect'},
                                                         {'cameras':[12,2,18],'type_trajet':'indirect'},
                                                         {'cameras':[12,3,18],'type_trajet':'indirect'},
                                                         {'cameras':[12,6,18],'type_trajet':'indirect'},
                                                         {'cameras':[12,18],'type_trajet':'direct'},
                                                        ]},
                            {'origine':'A630','destination':'A10','cam_o':19, 'cam_d':18,'trajets':[{'cameras':[19,4,5,11],'type_trajet':'indirect'},
                                                         {'cameras':[19,1,5,11],'type_trajet':'indirect'},
                                                         {'cameras':[19,1,11],'type_trajet':'indirect'},
                                                         {'cameras':[19,4,11],'type_trajet':'indirect'},
                                                         {'cameras':[19,5,11],'type_trajet':'indirect'},
                                                         {'cameras':[19,11],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A630','destination':'A62','cam_o':19, 'cam_d':9,'trajets':[{'cameras':[19,9],'type_trajet':'direct'}
                                                        ]},
                            {'origine':'A62','destination':'A630','cam_o':10, 'cam_d':18,'trajets':[{'cameras':[10,18],'type_trajet':'direct'}
                                                        ]},
                            {'origine':'A630','destination':'A89','cam_o':19, 'cam_d':7,'trajets':[{'cameras':[19,4,7],'type_trajet':'indirect'},
                                                         {'cameras':[19,7],'type_trajet':'direct'}
                                                        ]},
                            {'origine':'A89','destination':'A630','cam_o':8, 'cam_d':18,'trajets':[{'cameras':[8,3,18],'type_trajet':'indirect'},
                                                         {'cameras':[8,18],'type_trajet':'direct'}
                                                        ]},
                            {'origine':'N10','destination':'A630','cam_o':6, 'cam_d':18,'trajets':[{'cameras':[6,2,18],'type_trajet':'indirect'},
                                                         {'cameras':[6,3,18],'type_trajet':'indirect'},
                                                         {'cameras':[6,18],'type_trajet':'direct'},
                                                        ]},
                            {'origine':'A630','destination':'N10','cam_o':19, 'cam_d':5,'trajets':[{'cameras':[19,1,5],'type_trajet':'indirect'},
                                                         {'cameras':[19,4,5],'type_trajet':'indirect'},
                                                         {'cameras':[19,5],'type_trajet':'direct'},
                                                        ]}
                           ]))[['origine', 'destination', 'cam_o', 'cam_d','trajets']]

In [730]:
%time test=t.trajet(df_journee, '2019-01-29 08:00:00', 60, 16, [6,13], type='Global')

Wall time: 6.33 s

In [14]:
test=t.transit_1_jour(df_journee,'2019-01-29 06:00:00', liste_trajet_locale)

date : 2019-01-29 06:00:00 debut_traitement : 2019-04-04 11:37:56.280046
date : 2019-01-29 07:00:00 debut_traitement : 2019-04-04 11:38:30.202866
date : 2019-01-29 08:00:00 debut_traitement : 2019-04-04 11:39:24.455723
date : 2019-01-29 09:00:00 debut_traitement : 2019-04-04 11:40:30.992822
date : 2019-01-29 10:00:00 debut_traitement : 2019-04-04 11:41:39.863963
date : 2019-01-29 11:00:00 debut_traitement : 2019-04-04 11:42:46.032074
date : 2019-01-29 12:00:00 debut_traitement : 2019-04-04 11:43:47.519637
date : 2019-01-29 13:00:00 debut_traitement : 2019-04-04 11:44:49.935327

In [17]:
#MATRICE O-D !!II!
pd.pivot_table(test,values='l', index='origine', columns='destination',aggfunc='count', margins=True )

destination    A10    A62    A63   A630    A89     N10   All
origine
A10            NaN  198.0   44.0  119.0   12.0     NaN   373
A62           57.0    NaN    2.0   57.0    7.0   127.0   250
A63           26.0    NaN    NaN    NaN    6.0   154.0   186
A630           NaN   65.0    NaN    NaN   87.0   828.0   980
A89           19.0   27.0   26.0  112.0    NaN    70.0   254
N10            NaN  195.0  504.0  329.0   47.0     NaN  1075
All          102.0  485.0  576.0  617.0  159.0  1179.0  3118

In [34]:
#df des immat en transit
#test.loc[(test['cameras'].apply(lambda x : x[0]==6)) & (pd.DatetimeIndex(test['date_cam_1']).hour<10) & (pd.DatetimeIndex(test['date_cam_1']).hour>=9)]
#retrouver ces immat dans la df des passages
test2=test.head(5).copy()
test2

,date_cam_1,immat,l,cameras,date_cam_2,tps_parcours,o_d,origine,destination
997,2019-01-29 06:46:03,83d4b2b69135eea6cd28c06f8cd90c15a49ad3db,1,"(10, 5)",2019-01-29 10:10:22,03:24:19,A62-N10,A62,N10
546,2019-01-29 06:26:21,b8cb362f853d39f5f0373e88f96f2cefa00ed823,1,"(10, 18, 13)",2019-01-29 08:10:04,01:43:43,A62-A63,A62,A63
1231,2019-01-29 06:39:37,318cedb332c7f9463eaad41cd8556bbd81da3ca6,1,"(8, 5)",2019-01-29 09:38:19,02:58:42,A89-N10,A89,N10
1375,2019-01-29 06:43:30,975c6ac836723cb5c6f18a90882af353b4ec9597,1,"(8, 5)",2019-01-29 08:45:42,02:02:12,A89-N10,A89,N10
1468,2019-01-29 06:46:26,fd48a76a4ddc3f1ce7a6030e6ee49c0a31414e01,1,"(8, 5)",2019-01-29 13:31:04,06:44:38,A89-N10,A89,N10

In [109]:
#df_journee.loc[df_journee['immat'].isin(test2['immat']) ]
#df_journee.loc[(df_journee['camera_id'].isin(test2['cameras'].any()))].camera_id.unique()
#faire une jointure avec le df de base pour ne conserver que les passages de transit du df
test3=test2.merge(df_journee, on='immat').sort_values(by='immat')
#filtrer selon les cameras présentent dans la liste et created est compris entre date_cam_1 et date_cam_2
test3.loc[(test3.apply(lambda x : x['camera_id'] in x['cameras'], axis=1)) & (test3.apply(lambda x : x['date_cam_1']<=x['created']<=x['date_cam_2'], axis=1))]
#filtrer si

         cameras  camera_id
12        (8, 5)          8
13        (8, 5)          3
14        (8, 5)          4
3   (10, 18, 13)         10

In [127]:
test3.loc[(test3.apply(lambda x : x['camera_id'] in x['cameras'], axis=1)) & (test3.apply(lambda x : x['date_cam_1']<=x['created']<=x['date_cam_2'], axis=1))]

,date_cam_1,immat,l_x,cameras,date_cam_2,tps_parcours,o_d,origine,destination,camera_id,created,fiability,l_y,state
8,2019-01-29 06:39:37,318cedb332c7f9463eaad41cd8556bbd81da3ca6,1,"(8, 5)",2019-01-29 09:38:19,02:58:42,A89-N10,A89,N10,5,2019-01-29 09:38:19,99,1,PL
9,2019-01-29 06:39:37,318cedb332c7f9463eaad41cd8556bbd81da3ca6,1,"(8, 5)",2019-01-29 09:38:19,02:58:42,A89-N10,A89,N10,8,2019-01-29 06:39:37,88,0,PL
0,2019-01-29 06:46:03,83d4b2b69135eea6cd28c06f8cd90c15a49ad3db,1,"(10, 5)",2019-01-29 10:10:22,03:24:19,A62-N10,A62,N10,5,2019-01-29 10:10:22,99,1,BG
1,2019-01-29 06:46:03,83d4b2b69135eea6cd28c06f8cd90c15a49ad3db,1,"(10, 5)",2019-01-29 10:10:22,03:24:19,A62-N10,A62,N10,10,2019-01-29 06:46:03,59,0,BG
10,2019-01-29 06:43:30,975c6ac836723cb5c6f18a90882af353b4ec9597,1,"(8, 5)",2019-01-29 08:45:42,02:02:12,A89-N10,A89,N10,5,2019-01-29 08:45:42,99,1,FR
11,2019-01-29 06:43:30,975c6ac836723cb5c6f18a90882af353b4ec9597,1,"(8, 5)",2019-01-29 08:45:42,02:02:12,A89-N10,A89,N10,8,2019-01-29 06:43:30,99,0,FR
3,2019-01-29 06:26:21,b8cb362f853d39f5f0373e88f96f2cefa00ed823,1,"(10, 18, 13)",2019-01-29 08:10:04,01:43:43,A62-A63,A62,A63,10,2019-01-29 06:26:21,48,0,FR
4,2019-01-29 06:26:21,b8cb362f853d39f5f0373e88f96f2cefa00ed823,1,"(10, 18, 13)",2019-01-29 08:10:04,01:43:43,A62-A63,A62,A63,18,2019-01-29 07:26:43,57,0,FR
6,2019-01-29 06:26:21,b8cb362f853d39f5f0373e88f96f2cefa00ed823,1,"(10, 18, 13)",2019-01-29 08:10:04,01:43:43,A62-A63,A62,A63,13,2019-01-29 08:10:04,99,-1,FR
15,2019-01-29 06:46:26,fd48a76a4ddc3f1ce7a6030e6ee49c0a31414e01,1,"(8, 5)",2019-01-29 13:31:04,06:44:38,A89-N10,A89,N10,5,2019-01-29 13:31:04,99,1,BE
16,2019-01-29 06:46:26,fd48a76a4ddc3f1ce7a6030e6ee49c0a31414e01,1,"(8, 5)",2019-01-29 13:31:04,06:44:38,A89-N10,A89,N10,8,2019-01-29 06:46:26,100,0,BE

In [157]:
df_duree=df_journee.loc['2019-01-29 08:00:00':'2019-01-29 09:00:00']
df_duree_cam1=df_duree.loc[df_duree.loc[:,'camera_id']==12]
df_duree_autres_cam=df_journee.loc[(df_journee.loc[:,'immat'].isin(df_duree_cam1.loc[:,'immat']))]
df_autres_cam_temp_ok=df_duree_autres_cam.loc['2019-01-29 08:00:00':'2019-01-29 11:00:00']
groupe=(df_autres_cam_temp_ok.sort_index().reset_index().groupby('immat').agg({'camera_id':lambda x : tuple(x), 'l': lambda x : test_unicite_type(list(x),'1/2'),
                                                                        'created':lambda x: x.max()}))
df_agrege=df_duree_cam1.join(groupe,on='immat',lsuffix='_left')[['immat', 'l','camera_id','created']].rename(columns={'created':'date_cam_2', 'camera_id':'cameras'})
df_agrege=df_agrege.reset_index().rename(columns={'created':'date_cam_1'})
df_agrege['tps_parcours']=df_agrege.apply(lambda x : x.date_cam_2-x.date_cam_1, axis=1)
df_trajet=(df_agrege.loc[(df_agrege['cameras'].apply(lambda x : x[-1])==13)])
df_trajet

,date_cam_1,immat,l,cameras,date_cam_2,tps_parcours
0,2019-01-29 08:00:04,9642e28eac3b0552ed6e288261584dcb3845160f,-1,"(12, 3, 18, 13)",2019-01-29 10:14:52,02:14:48
3,2019-01-29 08:00:18,08fb4bbf9fb2099ab1d7c30409e77c6bb75b20b0,-1,"(12, 6, 3, 18, 13)",2019-01-29 10:27:14,02:26:56
75,2019-01-29 08:07:50,d6635bbacec4ec4a34f595f93322089b3defb5fd,-1,"(12, 6, 3, 18, 13)",2019-01-29 09:59:56,01:52:06
76,2019-01-29 08:07:55,a149e3e1c1236c9b4df23d8b4202725ccb2fef9d,-1,"(12, 6, 6, 3, 18, 13)",2019-01-29 10:08:14,02:00:19
97,2019-01-29 08:09:43,34be2912ad4c25051aa65cc54f717fa71d7eaa7e,-1,"(12, 6, 3, 18, 13)",2019-01-29 09:57:25,01:47:42
109,2019-01-29 08:10:17,1a7ad3e4b2da8036d18b3b54ce2799fd493fd16e,-1,"(12, 6, 3, 18, 13)",2019-01-29 09:52:18,01:42:01
186,2019-01-29 08:18:31,c650ea41ca7496b45df4aa8606b701488e85f2f2,-1,"(12, 6, 3, 18, 13)",2019-01-29 09:57:11,01:38:40
221,2019-01-29 08:20:13,7f9ee7b0f586ee0e4b3ca5bbf0fa505ca7f6a699,-1,"(12, 6, 3, 18, 13)",2019-01-29 09:57:41,01:37:28
316,2019-01-29 08:30:26,3a6d4ed727a9d5bdebcd51bc74563b1b12db3d34,-1,"(12, 6, 3, 18, 13)",2019-01-29 10:43:44,02:13:18
414,2019-01-29 08:38:51,6443465cf5f6b04f213bbf280e0874df27f12921,-1,"(12, 6, 3, 18, 13)",2019-01-29 10:10:40,01:31:49
428,2019-01-29 08:40:02,89afe575fff7fdc10c9441c201777723080f58dd,-1,"(12, 6, 3, 18, 13)",2019-01-29 10:15:01,01:34:59
460,2019-01-29 08:41:44,b483f6efaebefaf8e6efcb49bdf38bb3bcfdd24e,-1,"(12, 6, 3, 18, 13)",2019-01-29 10:13:52,01:32:08
469,2019-01-29 08:42:04,2893c92235ced8b2b83bd19f93f73876983ea048,-1,"(12, 6, 3, 13)",2019-01-29 10:53:43,02:11:39
601,2019-01-29 08:54:15,37bf7713af6c9831c7cd776a7607c7735e3ec6c1,-1,"(12, 6, 3, 18, 13)",2019-01-29 10:31:02,01:36:47
610,2019-01-29 08:54:53,3f48e6f7612c939012ba1d54c5e89ca225c15c86,-1,"(12, 6, 3, 18, 13)",2019-01-29 10:25:12,01:30:19

In [171]:
test3=df_trajet.merge(df_duree_autres_cam.reset_index(), on='immat').sort_values(by='immat')
test3
test4=(test3.loc[(test3.apply(lambda x : x['camera_id'] in x['cameras'], axis=1)) 
                & (test3.apply(lambda x : x['date_cam_1']<=x['created']<=x['date_cam_2'], axis=1))].sort_values(['immat','created'])
       [['created','camera_id','immat','fiability','l_y','state']].rename(columns={'l_y':'l'}))
test4

,created,camera_id,immat,fiability,l,state
7,2019-01-29 08:00:18,12,08fb4bbf9fb2099ab1d7c30409e77c6bb75b20b0,99,1,FR
8,2019-01-29 08:14:16,6,08fb4bbf9fb2099ab1d7c30409e77c6bb75b20b0,89,1,FR
9,2019-01-29 08:40:32,3,08fb4bbf9fb2099ab1d7c30409e77c6bb75b20b0,99,0,FR
10,2019-01-29 09:05:52,18,08fb4bbf9fb2099ab1d7c30409e77c6bb75b20b0,89,1,FR
11,2019-01-29 10:27:14,13,08fb4bbf9fb2099ab1d7c30409e77c6bb75b20b0,69,-1,FR
31,2019-01-29 08:10:17,12,1a7ad3e4b2da8036d18b3b54ce2799fd493fd16e,99,0,ES
32,2019-01-29 08:24:29,6,1a7ad3e4b2da8036d18b3b54ce2799fd493fd16e,99,1,ES
33,2019-01-29 08:43:25,3,1a7ad3e4b2da8036d18b3b54ce2799fd493fd16e,99,1,ES
34,2019-01-29 09:05:45,18,1a7ad3e4b2da8036d18b3b54ce2799fd493fd16e,99,1,ES
35,2019-01-29 09:52:18,13,1a7ad3e4b2da8036d18b3b54ce2799fd493fd16e,99,-1,ES
71,2019-01-29 08:42:04,12,2893c92235ced8b2b83bd19f93f73876983ea048,99,0,FR
72,2019-01-29 09:32:49,6,2893c92235ced8b2b83bd19f93f73876983ea048,99,1,FR
73,2019-01-29 09:45:11,3,2893c92235ced8b2b83bd19f93f73876983ea048,99,-1,FR
74,2019-01-29 10:53:43,13,2893c92235ced8b2b83bd19f93f73876983ea048,99,-1,FR
26,2019-01-29 08:09:43,12,34be2912ad4c25051aa65cc54f717fa71d7eaa7e,99,1,ES
27,2019-01-29 08:23:55,6,34be2912ad4c25051aa65cc54f717fa71d7eaa7e,99,1,ES
28,2019-01-29 08:43:10,3,34be2912ad4c25051aa65cc54f717fa71d7eaa7e,99,1,ES
29,2019-01-29 09:07:10,18,34be2912ad4c25051aa65cc54f717fa71d7eaa7e,89,0,ES
30,2019-01-29 09:57:25,13,34be2912ad4c25051aa65cc54f717fa71d7eaa7e,99,-1,ES
75,2019-01-29 08:54:15,12,37bf7713af6c9831c7cd776a7607c7735e3ec6c1,89,1,FR
76,2019-01-29 09:08:29,6,37bf7713af6c9831c7cd776a7607c7735e3ec6c1,99,1,FR
77,2019-01-29 09:20:54,3,37bf7713af6c9831c7cd776a7607c7735e3ec6c1,69,1,FR
78,2019-01-29 09:41:36,18,37bf7713af6c9831c7cd776a7607c7735e3ec6c1,99,1,FR
79,2019-01-29 10:31:02,13,37bf7713af6c9831c7cd776a7607c7735e3ec6c1,99,-1,FR
46,2019-01-29 08:30:26,12,3a6d4ed727a9d5bdebcd51bc74563b1b12db3d34,99,1,FR
47,2019-01-29 08:44:38,6,3a6d4ed727a9d5bdebcd51bc74563b1b12db3d34,59,1,FR
48,2019-01-29 08:56:41,3,3a6d4ed727a9d5bdebcd51bc74563b1b12db3d34,69,1,FR
49,2019-01-29 09:17:18,18,3a6d4ed727a9d5bdebcd51bc74563b1b12db3d34,99,0,FR
50,2019-01-29 10:43:44,13,3a6d4ed727a9d5bdebcd51bc74563b1b12db3d34,79,-1,FR
80,2019-01-29 08:54:53,12,3f48e6f7612c939012ba1d54c5e89ca225c15c86,99,0,ES
...,...,...,...,...,...,...
61,2019-01-29 08:40:02,12,89afe575fff7fdc10c9441c201777723080f58dd,99,1,NL
62,2019-01-29 08:55:08,6,89afe575fff7fdc10c9441c201777723080f58dd,99,1,NL
63,2019-01-29 09:07:19,3,89afe575fff7fdc10c9441c201777723080f58dd,99,-1,NL
64,2019-01-29 09:27:52,18,89afe575fff7fdc10c9441c201777723080f58dd,99,1,NL
65,2019-01-29 10:15:01,13,89afe575fff7fdc10c9441c201777723080f58dd,99,-1,NL
0,2019-01-29 08:00:04,12,9642e28eac3b0552ed6e288261584dcb3845160f,99,0,FR
1,2019-01-29 09:07:23,3,9642e28eac3b0552ed6e288261584dcb3845160f,99,1,FR
2,2019-01-29 09:27:45,18,9642e28eac3b0552ed6e288261584dcb3845160f,99,1,FR
3,2019-01-29 10:14:52,13,9642e28eac3b0552ed6e288261584dcb3845160f,99,-1,FR
20,2019-01-29 08:07:55,12,a149e3e1c1236c9b4df23d8b4202725ccb2fef9d,99,1,PL/SK
22,2019-01-29 08:22:09,6,a149e3e1c1236c9b4df23d8b4202725ccb2fef9d,99,1,PL/SK
21,2019-01-29 08:22:09,6,a149e3e1c1236c9b4df23d8b4202725ccb2fef9d,99,1,PL/SK
23,2019-01-29 08:36:15,3,a149e3e1c1236c9b4df23d8b4202725ccb2fef9d,99,1,PL/SK
24,2019-01-29 09:00:04,18,a149e3e1c1236c9b4df23d8b4202725ccb2fef9d,99,1,SK
25,2019-01-29 10:08:14,13,a149e3e1c1236c9b4df23d8b4202725ccb2fef9d,99,-1,PL/SK
66,2019-01-29 08:41:44,12,b483f6efaebefaf8e6efcb49bdf38bb3bcfdd24e,99,1,BE
67,2019-01-29 08:55:43,6,b483f6efaebefaf8e6efcb49bdf38bb3bcfdd24e,99,1,BE
68,2019-01-29 09:07:29,3,b483f6efaebefaf8e6efcb49bdf38bb3bcfdd24e,99,0,BE
69,2019-01-29 09:27:48,18,b483f6efaebefaf8e6efcb49bdf38bb3bcfdd24e,99,1,BE
70,2019-01-29 10:13:52,13,b483f6efaebefaf8e6efcb49bdf38bb3bcfdd24e,99,-1,BE
36,2019-01-29 08:18:31,12,c650ea41ca7496b45df4aa8606b701488e85f2f2,99,1,ES
37,2019-01-29 08:32:59,6,c650ea41ca7496b45df4aa8606b701488e85f2f2,99,1,ES
38,2019-01-29 08:47:49,3,c650ea41ca7496b45df4aa8606b701488e85f2f2,99,1,ES
39,2019-01-29 09:10:39,18,c650ea41ca7496b45df4aa8606b701488e85f2f2,99,0,ES
40,2019-01-29 09:57:11,13,c650ea41ca7496b45df4aa8606b701488e85f2f2,99,-1,ES
15,2019-01-29 08:07:50,12,d6635bbacec4ec4a34f595f93322089b3defb5fd,99,1,IT
16,2019-01-29 08:26:10,6,d6635bbacec4ec4a34f595f93322089b3defb5fd,99,0,IT
17,2019-01-29 08:44:14,3,d6635bbacec4ec4a34f595f93322089b3defb5fd,99,1,IT
18,2019-01-29 09:08:16,18,d6635bbacec4ec4a34f595f93322089b3defb5fd,99,1,IT
19,2019-01-29 09:59:56,13,d6635bbacec4ec4a34f595f93322089b3defb5fd,99,-1,IT

In [141]:
def test_unicite_type(self,liste_l, mode='unique'):
        """test pour voir si un vehicule a ete toujours vu de la mme façon ou non
           en entre : liste de valeur de l iisues d'une df""" 
        if mode=='unique' : 
            if len(set(liste_l))==1 :
                return liste_l[0]
            else : 
                return -1
        elif mode=='1/2' :
            if any(liste_l)==1 : 
                return 1
            else : 
                return -1