Test du projet de class trajets indirect

In [2]:
%load_ext autoreload
%autoreload 2
import sys #c'est pas propre mais pour le moment pour importer mes modules perso dans le notebook je ne sais pas faire
sys.path.append(r'C:\Users\martin.schoreisz\git\Outils\Outils\Martin_Perso')
import traitement_od as t
import pandas as pd
import numpy as np
import altair as alt
import datetime as dt
pd.set_option('display.max_colwidth', 1000)
import os
from sklearn.cluster import DBSCAN

IMPORT DONNEES GLOBALES

In [3]:
%time df_3semaines=t.ouvrir_fichier_lapi('2019-01-29 00:00:00','2019-02-17 23:59:59').set_index('created').sort_index()

Wall time: 1min 30s

IMPORT DES DONNEES SUR UNE JOURNEE

In [350]:
df_journee=t.ouvrir_fichier_lapi('2019-01-28','2019-01-30')

In [352]:
#redresser la valeur de l
df_journee.loc[df_journee['camera_id']==15,'l']=1

LISTE DES TRAJETS

In [346]:
liste_trajet_locale=(pd.DataFrame([{'origine':'A63','destination':'A10','cam_o':15, 'cam_d':11, 'trajets':[
                                                        {'cameras':[15,19,4,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,19,1,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,4,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,1,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,19,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,19,4,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,19,1,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,4,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,1,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,19,11],'type_trajet':'indirect'},
                                                        {'cameras':[15,11],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A10','destination':'A63','cam_o':12, 'cam_d':13,'trajets':[{'cameras':[12,6,2,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,6,3,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,6,2,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,6,3,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,6,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,2,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,3,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,2,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,3,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,6,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[12,13],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A63','destination':'N10','cam_o':15, 'cam_d':5,'trajets':[{'cameras':[15,19,4,5],'type_trajet':'indirect'},
                                                        {'cameras':[15,19,1,5],'type_trajet':'indirect'},
                                                        {'cameras':[15,4,5],'type_trajet':'indirect'},
                                                        {'cameras':[15,1,5],'type_trajet':'indirect'},
                                                        {'cameras':[15,19,5],'type_trajet':'indirect'}, 
                                                        {'cameras':[15,5],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'N10','destination':'A63','cam_o':6, 'cam_d':13,'trajets':[{'cameras':[6,2,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[6,3,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[6,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[6,2,13],'type_trajet':'indirect'},
                                                        {'cameras':[6,3,13],'type_trajet':'indirect'},
                                                        {'cameras':[6,13],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A62','destination':'A10','cam_o':10, 'cam_d':11,'trajets':[{'cameras':[10,4,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[10,4,11],'type_trajet':'indirect'},
                                                        {'cameras':[10,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[10,11],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A10','destination':'A62','cam_o':12, 'cam_d':9,'trajets':[{'cameras':[12,6,3,9],'type_trajet':'indirect'},
                                                        {'cameras':[12,3,9],'type_trajet':'indirect'},
                                                        {'cameras':[12,6,9],'type_trajet':'indirect'},
                                                        {'cameras':[12,9],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A62','destination':'N10','cam_o':10, 'cam_d':5,'trajets':[{'cameras':[10,4,5],'type_trajet':'indirect'},
                                                        {'cameras':[10,5],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'N10','destination':'A62','cam_o':6, 'cam_d':9,'trajets':[{'cameras':[6,3,9],'type_trajet':'indirect'},
                                                        {'cameras':[6,9],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A63','destination':'A62','cam_o':15, 'cam_d':9,'trajets':[{'cameras':[15,19,9],'type_trajet':'indirect'},
                                                        {'cameras':[15,9],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A62','destination':'A63','cam_o':10, 'cam_d':13,'trajets':[{'cameras':[10,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[10,13],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A89','destination':'A63','cam_o':8 ,'cam_d':13,'trajets':[{'cameras':[8,3,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[8,18,13],'type_trajet':'indirect'},
                                                        {'cameras':[8,3,13],'type_trajet':'indirect'},
                                                        {'cameras':[8,13],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A63','destination':'A89','cam_o':15, 'cam_d':7,'trajets':[{'cameras':[15,19,4,7],'type_trajet':'indirect'},
                                                        {'cameras':[15,4,7],'type_trajet':'indirect'},
                                                        {'cameras':[15,19,7],'type_trajet':'indirect'},
                                                        {'cameras':[15,7],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A89','destination':'A62','cam_o':8, 'cam_d':9,'trajets':[{'cameras':[8,3,9],'type_trajet':'indirect'},
                                                        {'cameras':[8,9],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A62','destination':'A89','cam_o':10, 'cam_d':7,'trajets':[{'cameras':[10,4,7],'type_trajet':'indirect'},
                                                        {'cameras':[10,7],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A89','destination':'A10','cam_o':8, 'cam_d':11,'trajets':[{'cameras':[8,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[8,11],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A10','destination':'A89','cam_o':12, 'cam_d':7,'trajets':[{'cameras':[12,6,7],'type_trajet':'indirect'},
                                                        {'cameras':[12,7],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A89','destination':'N10','cam_o':8, 'cam_d':5,'trajets':[{'cameras':[8,5],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'N10','destination':'A89','cam_o':6, 'cam_d':7,'trajets':[{'cameras':[6,7],'type_trajet':'direct'}
                                                       ]},
                            {'origine':'A10','destination':'A660','cam_o':12, 'cam_d':18,'trajets':[{'cameras':[12,6,2,18],'type_trajet':'indirect'},
                                                         {'cameras':[12,6,3,18],'type_trajet':'indirect'},
                                                         {'cameras':[12,2,18],'type_trajet':'indirect'},
                                                         {'cameras':[12,3,18],'type_trajet':'indirect'},
                                                         {'cameras':[12,6,18],'type_trajet':'indirect'},
                                                         {'cameras':[12,18],'type_trajet':'direct'},
                                                        ]},
                            {'origine':'A660','destination':'A10','cam_o':19, 'cam_d':18,'trajets':[{'cameras':[19,4,5,11],'type_trajet':'indirect'},
                                                         {'cameras':[19,1,5,11],'type_trajet':'indirect'},
                                                         {'cameras':[19,1,11],'type_trajet':'indirect'},
                                                         {'cameras':[19,4,11],'type_trajet':'indirect'},
                                                         {'cameras':[19,5,11],'type_trajet':'indirect'},
                                                         {'cameras':[19,11],'type_trajet':'direct'},
                                                       ]},
                            {'origine':'A660','destination':'A62','cam_o':19, 'cam_d':9,'trajets':[{'cameras':[19,9],'type_trajet':'direct'}
                                                        ]},
                            {'origine':'A62','destination':'A660','cam_o':10, 'cam_d':18,'trajets':[{'cameras':[10,18],'type_trajet':'direct'}
                                                        ]},
                            {'origine':'A660','destination':'A89','cam_o':19, 'cam_d':7,'trajets':[{'cameras':[19,4,7],'type_trajet':'indirect'},
                                                         {'cameras':[19,7],'type_trajet':'direct'}
                                                        ]},
                            {'origine':'A89','destination':'A660','cam_o':8, 'cam_d':18,'trajets':[{'cameras':[8,3,18],'type_trajet':'indirect'},
                                                         {'cameras':[8,18],'type_trajet':'direct'}
                                                        ]},
                            {'origine':'N10','destination':'A660','cam_o':6, 'cam_d':18,'trajets':[{'cameras':[6,2,18],'type_trajet':'indirect'},
                                                         {'cameras':[6,3,18],'type_trajet':'indirect'},
                                                         {'cameras':[6,18],'type_trajet':'direct'},
                                                        ]},
                            {'origine':'A660','destination':'N10','cam_o':19, 'cam_d':5,'trajets':[{'cameras':[19,1,5],'type_trajet':'indirect'},
                                                         {'cameras':[19,4,5],'type_trajet':'indirect'},
                                                         {'cameras':[19,5],'type_trajet':'direct'},
                                                        ]}
                           ]))[['origine', 'destination', 'cam_o', 'cam_d','trajets']]

In [730]:
%time test=t.trajet(df_journee, '2019-01-29 08:00:00', 60, 16, [6,13], type='Global')

Wall time: 6.33 s

CALCUL DES O-D SUR UNE JOURNEE, AVEC RENVOI DES DF O-D OU PASSAGES DANS UN DICO PAR O-D OU UNE DF GLOBALE

In [353]:
dico_trajet_od, dico_passag_od, dico_od,  dico_passag=t.transit_1_jour(df_journee,'2019-01-28 08:00:00', liste_trajet_locale)

date : 2019-01-28 08:00:00 debut_traitement : 2019-04-05 15:32:42.058239
date : 2019-01-28 09:00:00 debut_traitement : 2019-04-05 15:35:25.209336

IMPORTANT : VERIF DES DOUBLONS ENTRE LES TRAJETS

In [354]:
A660N10=dico_passag_od['A660-N10'].set_index(['created','immat'])
A63N10=dico_passag_od['A63-N10'].set_index(['created','immat'])
A63N10.loc[A63N10.index.isin(A660N10.index)].reset_index().set_index('created')

Empty DataFrame
Columns: [immat, camera_id, fiability, l, state]
Index: []

CREER LE TABLEAU DE MATRICE O-D

In [355]:
#MATRICE O-D !!II!
pd.pivot_table(dico_od,values='l', index='origine', columns='destination',aggfunc='count', margins=True )

destination   A10    A62    A63   A660   A89    N10   All
origine
A10           NaN   59.0   12.0   21.0  13.0    NaN   105
A62          30.0    NaN    7.0   13.0  11.0   42.0   103
A63          34.0    4.0    NaN    NaN  25.0  347.0   410
A660          NaN   12.0    NaN    NaN  29.0  178.0   219
A89           5.0   15.0   12.0   15.0   NaN    8.0    55
N10           NaN   58.0  185.0   56.0  10.0    NaN   309
All          69.0  148.0  216.0  105.0  88.0  575.0  1201

POURCENTAGE PL PAR PLAGE HORAIRE ET CAMERA

In [432]:
#isoler pl source
groupe_tv_type_simple=df_journee.groupby('immat')['l'].apply(lambda x:test_unicite_type(list(x),mode='1/2')).reset_index().drop_duplicates('immat')
df_pl=df_journee.join(groupe_tv_type_simple.loc[groupe_tv_type_simple['l']==1].set_index('immat'),on='immat',how='inner',rsuffix='_right')
df_pl.set_index('created',inplace=True)

#obtenir les nb de pl par heure et par camera sur la source
df_synthese_pl_tot=df_pl.groupby('camera_id').resample('H').count()['immat'].rename(column={'immat':'nb_pl_tot'})
df_synthese_pl_transit=dico_passag.set_index('created').groupby('camera_id').resample('H').count()['immat'].rename(column={'immat':'nb_pl_transit'})
df_pct_pl_transit=pd.concat([df_synthese_pl_tot,df_synthese_pl_transit], axis=1, join='inner')
df_pct_pl_transit.columns=[['nb_pl_tot','nb_pl_transit']]
df_pct_pl_transit['pct_pl_transit']=df_pct_pl_transit.apply(lambda x : float(x['nb_pl_transit'])*100 / x['nb_pl_tot'] ,axis=1)
df_pct_pl_transit

In [175]:
test3=df_trajet.merge(df_duree_autres_cam.reset_index(), on='immat').sort_values(by='immat')
test3
test4=test3.loc[(test3.apply(lambda x : x['camera_id'] in x['cameras'], axis=1))]
test5=(test4.loc[test4.apply(lambda x : x['date_cam_1']<=x['created']<=x['date_cam_2'], axis=1)].sort_values(['immat','created'])
       [['created','camera_id','immat','fiability','l_y','state']].rename(columns={'l_y':'l'}))
test5

,created,camera_id,immat,fiability,l,state
7,2019-01-29 08:00:18,12,08fb4bbf9fb2099ab1d7c30409e77c6bb75b20b0,99,1,FR
8,2019-01-29 08:14:16,6,08fb4bbf9fb2099ab1d7c30409e77c6bb75b20b0,89,1,FR
9,2019-01-29 08:40:32,3,08fb4bbf9fb2099ab1d7c30409e77c6bb75b20b0,99,0,FR
10,2019-01-29 09:05:52,18,08fb4bbf9fb2099ab1d7c30409e77c6bb75b20b0,89,1,FR
11,2019-01-29 10:27:14,13,08fb4bbf9fb2099ab1d7c30409e77c6bb75b20b0,69,-1,FR
31,2019-01-29 08:10:17,12,1a7ad3e4b2da8036d18b3b54ce2799fd493fd16e,99,0,ES
32,2019-01-29 08:24:29,6,1a7ad3e4b2da8036d18b3b54ce2799fd493fd16e,99,1,ES
33,2019-01-29 08:43:25,3,1a7ad3e4b2da8036d18b3b54ce2799fd493fd16e,99,1,ES
34,2019-01-29 09:05:45,18,1a7ad3e4b2da8036d18b3b54ce2799fd493fd16e,99,1,ES
35,2019-01-29 09:52:18,13,1a7ad3e4b2da8036d18b3b54ce2799fd493fd16e,99,-1,ES
71,2019-01-29 08:42:04,12,2893c92235ced8b2b83bd19f93f73876983ea048,99,0,FR
72,2019-01-29 09:32:49,6,2893c92235ced8b2b83bd19f93f73876983ea048,99,1,FR
73,2019-01-29 09:45:11,3,2893c92235ced8b2b83bd19f93f73876983ea048,99,-1,FR
74,2019-01-29 10:53:43,13,2893c92235ced8b2b83bd19f93f73876983ea048,99,-1,FR
26,2019-01-29 08:09:43,12,34be2912ad4c25051aa65cc54f717fa71d7eaa7e,99,1,ES
27,2019-01-29 08:23:55,6,34be2912ad4c25051aa65cc54f717fa71d7eaa7e,99,1,ES
28,2019-01-29 08:43:10,3,34be2912ad4c25051aa65cc54f717fa71d7eaa7e,99,1,ES
29,2019-01-29 09:07:10,18,34be2912ad4c25051aa65cc54f717fa71d7eaa7e,89,0,ES
30,2019-01-29 09:57:25,13,34be2912ad4c25051aa65cc54f717fa71d7eaa7e,99,-1,ES
75,2019-01-29 08:54:15,12,37bf7713af6c9831c7cd776a7607c7735e3ec6c1,89,1,FR
76,2019-01-29 09:08:29,6,37bf7713af6c9831c7cd776a7607c7735e3ec6c1,99,1,FR
77,2019-01-29 09:20:54,3,37bf7713af6c9831c7cd776a7607c7735e3ec6c1,69,1,FR
78,2019-01-29 09:41:36,18,37bf7713af6c9831c7cd776a7607c7735e3ec6c1,99,1,FR
79,2019-01-29 10:31:02,13,37bf7713af6c9831c7cd776a7607c7735e3ec6c1,99,-1,FR
46,2019-01-29 08:30:26,12,3a6d4ed727a9d5bdebcd51bc74563b1b12db3d34,99,1,FR
47,2019-01-29 08:44:38,6,3a6d4ed727a9d5bdebcd51bc74563b1b12db3d34,59,1,FR
48,2019-01-29 08:56:41,3,3a6d4ed727a9d5bdebcd51bc74563b1b12db3d34,69,1,FR
49,2019-01-29 09:17:18,18,3a6d4ed727a9d5bdebcd51bc74563b1b12db3d34,99,0,FR
50,2019-01-29 10:43:44,13,3a6d4ed727a9d5bdebcd51bc74563b1b12db3d34,79,-1,FR
80,2019-01-29 08:54:53,12,3f48e6f7612c939012ba1d54c5e89ca225c15c86,99,0,ES
...,...,...,...,...,...,...
61,2019-01-29 08:40:02,12,89afe575fff7fdc10c9441c201777723080f58dd,99,1,NL
62,2019-01-29 08:55:08,6,89afe575fff7fdc10c9441c201777723080f58dd,99,1,NL
63,2019-01-29 09:07:19,3,89afe575fff7fdc10c9441c201777723080f58dd,99,-1,NL
64,2019-01-29 09:27:52,18,89afe575fff7fdc10c9441c201777723080f58dd,99,1,NL
65,2019-01-29 10:15:01,13,89afe575fff7fdc10c9441c201777723080f58dd,99,-1,NL
0,2019-01-29 08:00:04,12,9642e28eac3b0552ed6e288261584dcb3845160f,99,0,FR
1,2019-01-29 09:07:23,3,9642e28eac3b0552ed6e288261584dcb3845160f,99,1,FR
2,2019-01-29 09:27:45,18,9642e28eac3b0552ed6e288261584dcb3845160f,99,1,FR
3,2019-01-29 10:14:52,13,9642e28eac3b0552ed6e288261584dcb3845160f,99,-1,FR
20,2019-01-29 08:07:55,12,a149e3e1c1236c9b4df23d8b4202725ccb2fef9d,99,1,PL/SK
22,2019-01-29 08:22:09,6,a149e3e1c1236c9b4df23d8b4202725ccb2fef9d,99,1,PL/SK
21,2019-01-29 08:22:09,6,a149e3e1c1236c9b4df23d8b4202725ccb2fef9d,99,1,PL/SK
23,2019-01-29 08:36:15,3,a149e3e1c1236c9b4df23d8b4202725ccb2fef9d,99,1,PL/SK
24,2019-01-29 09:00:04,18,a149e3e1c1236c9b4df23d8b4202725ccb2fef9d,99,1,SK
25,2019-01-29 10:08:14,13,a149e3e1c1236c9b4df23d8b4202725ccb2fef9d,99,-1,PL/SK
66,2019-01-29 08:41:44,12,b483f6efaebefaf8e6efcb49bdf38bb3bcfdd24e,99,1,BE
67,2019-01-29 08:55:43,6,b483f6efaebefaf8e6efcb49bdf38bb3bcfdd24e,99,1,BE
68,2019-01-29 09:07:29,3,b483f6efaebefaf8e6efcb49bdf38bb3bcfdd24e,99,0,BE
69,2019-01-29 09:27:48,18,b483f6efaebefaf8e6efcb49bdf38bb3bcfdd24e,99,1,BE
70,2019-01-29 10:13:52,13,b483f6efaebefaf8e6efcb49bdf38bb3bcfdd24e,99,-1,BE
36,2019-01-29 08:18:31,12,c650ea41ca7496b45df4aa8606b701488e85f2f2,99,1,ES
37,2019-01-29 08:32:59,6,c650ea41ca7496b45df4aa8606b701488e85f2f2,99,1,ES
38,2019-01-29 08:47:49,3,c650ea41ca7496b45df4aa8606b701488e85f2f2,99,1,ES
39,2019-01-29 09:10:39,18,c650ea41ca7496b45df4aa8606b701488e85f2f2,99,0,ES
40,2019-01-29 09:57:11,13,c650ea41ca7496b45df4aa8606b701488e85f2f2,99,-1,ES
15,2019-01-29 08:07:50,12,d6635bbacec4ec4a34f595f93322089b3defb5fd,99,1,IT
16,2019-01-29 08:26:10,6,d6635bbacec4ec4a34f595f93322089b3defb5fd,99,0,IT
17,2019-01-29 08:44:14,3,d6635bbacec4ec4a34f595f93322089b3defb5fd,99,1,IT
18,2019-01-29 09:08:16,18,d6635bbacec4ec4a34f595f93322089b3defb5fd,99,1,IT
19,2019-01-29 09:59:56,13,d6635bbacec4ec4a34f595f93322089b3defb5fd,99,-1,IT

In [319]:
df_8h9h=df_journee.set_index('created').loc['2019-01-29 08:00:00':'2019-01-29 09:00:00']
cam14=df_8h9h.loc[df_8h9h['camera_id']==14].reset_index().set_index('immat')
cam19=df_8h9h.loc[df_8h9h['camera_id']==19].reset_index().set_index('immat')
cam19.loc[cam19.index.isin(cam14.index)].reset_index().set_index('created')

,immat,camera_id,fiability,l,state
created,,,,,
2019-01-29 08:00:49,de8c2faf3ff92ef10bfbfac11738899cf3729aee,19,41,1,!!
2019-01-29 08:06:34,de8c2faf3ff92ef10bfbfac11738899cf3729aee,19,99,1,!!
2019-01-29 08:31:10,17b1c89c7cec20deadc89e51bb7ab64ebb097aa9,19,99,0,FR
2019-01-29 08:31:52,f3ae05e6d6f0605a9dc9fc3f2ff9a001d5cfaf61,19,99,1,FR
2019-01-29 08:32:20,39d4b89c6a7226a399eafe43b09cc100584f1c1f,19,99,1,ES
2019-01-29 08:32:25,6df7ab1df1bf36ece259a7652a8e7aa8d9505ada,19,99,1,ES
2019-01-29 08:32:51,8390fc115d006e5135a8c7c6268e4306f0da36f3,19,89,1,ES
2019-01-29 08:32:54,21b3325067ff64361053ebdcb332246842c162f4,19,99,1,FR
2019-01-29 08:32:57,858c24c7dbe3df1e0ce369820a4d731710d11c04,19,89,0,ES
2019-01-29 08:32:59,cb246ad1b12eda94751176faaeaa4fe31732b07d,19,99,0,ES
2019-01-29 08:33:38,09823df98dc8b1522a0851476fd28fa190963500,19,99,1,FR
2019-01-29 08:35:31,f07b46b20a272deb8782f9769835b50e2e8dfabb,19,99,1,BG/ES
2019-01-29 08:37:26,53bf7263505d6cdb82653751b191838399ac5d75,19,89,1,BE
2019-01-29 08:38:57,de2840e271cc890b61a855656ab8eff124261712,19,99,1,PT
2019-01-29 08:39:00,384b3106491830ad324238e52cef8306e07fb530,19,59,0,BE
2019-01-29 08:39:31,aff39151c6f29d13dbb9a44f0c8cf65c9162a570,19,79,1,BE
2019-01-29 08:39:37,5c0dee66175c37114185a5ed1b47cccf38e9eb11,19,99,0,PT
2019-01-29 08:39:48,b6357e675a8efc5d7f9cdea33f1a835dd87eb4e5,19,99,0,ES
2019-01-29 08:39:51,ec4bb585291c98b409ee5ccae2233ceb10ad0af6,19,89,1,PT
2019-01-29 08:39:57,ce0b6b0ab2527f2e5857c8fb4f9f6de5d2360132,19,99,1,PT
2019-01-29 08:40:15,2408148e117922ab9d0c88f4a109ce7d8e766db5,19,99,1,PT
2019-01-29 08:41:44,1983a8588357640180f8993cb839ba802d7a89ac,19,99,1,ES
2019-01-29 08:43:02,b6841efe7534b19d13f713f524d020afea99b633,19,99,1,PT
2019-01-29 08:44:04,d1cebd7e1bc27772c5507bc1b9a493d3e59211da,19,99,1,ES
2019-01-29 08:44:34,5c1dc6e76abbf1372e4b541ac5ade9b5f29d3bdb,19,89,1,ES
2019-01-29 08:44:46,44cc6b4fe944bb0b6f5d0c2ae0d5890586a8f1f8,19,99,1,ES
2019-01-29 08:45:16,e150cc3cf762043da83091159c2e366a0be89d64,19,99,1,BG
2019-01-29 08:45:20,cdc99cacffd6a5f656a74069a794c4602ab959c3,19,89,1,FR
2019-01-29 08:45:32,e0220ae95f688abef58a0b502eefe990e31f6a70,19,99,1,FR
2019-01-29 08:46:17,cdbb61c63db5714a2f5653b020a5189ef07ef83b,19,99,0,PT
...,...,...,...,...,...
2019-01-29 08:48:10,d432cebc6c9599d56a30e0f14c64aebddabe9122,19,88,0,ES
2019-01-29 08:48:18,dc2ad8f7f74aea8424990b8cf0850d1fad034361,19,99,1,ES
2019-01-29 08:48:40,de8c2faf3ff92ef10bfbfac11738899cf3729aee,19,99,1,!!
2019-01-29 08:49:29,bd153a46cd16cb751f120764f252e1de9ed2d23f,19,99,1,PT
2019-01-29 08:49:37,de8c2faf3ff92ef10bfbfac11738899cf3729aee,19,79,1,!!
2019-01-29 08:49:54,e6b029d52b2e19b3018d6c8cb911cfef6fcbe069,19,89,0,PT
2019-01-29 08:49:56,8a92dc0a9dc7c9da086ccaa75803ea78700543f8,19,99,0,PT
2019-01-29 08:49:58,c57f1d6127f5d432d967f40926dae840ebd690a9,19,99,0,PT
2019-01-29 08:50:38,2faace9ec8816c50aba7485f37b918b17db59c7c,19,99,0,PL
2019-01-29 08:51:14,4892654dcfae28d1f43385ee63d24d86cb23506f,19,99,1,PT
2019-01-29 08:52:10,9043a0629caa46bef903fe7960ea3df8b9544303,19,99,1,FR
2019-01-29 08:52:18,2c3e405d21583098877bd65ad9a5de675a21d6ce,19,68,1,BE
2019-01-29 08:52:24,214d6b86318b472f8654918e2a05d12bf6107809,19,79,1,
2019-01-29 08:52:35,39f6d9782ed4c2985441f667de0410ff41ab1b95,19,99,1,ES
2019-01-29 08:52:55,b6a0a8bc25839592758497678774ff22611a8c2c,19,99,1,PT
2019-01-29 08:53:06,bb07b087c2c3fefaf7cc3055c19f46edc3e86ca6,19,99,1,ES
2019-01-29 08:53:39,7128d2a8c367a617ebcfc7b1a933ea1cbb787d90,19,99,1,ES
2019-01-29 08:53:45,77250caae16e04e10a508174a03a6a0d47dd8eaa,19,89,1,RO
2019-01-29 08:54:30,9b3373d6ea7cdf14ba7d8a18447d59797e6102b3,19,89,1,RO
2019-01-29 08:54:34,694ca5364e4e6b04c8714a3c34d6b09ad7440b06,19,99,0,RO
2019-01-29 08:54:55,b7c6f3fc8926622abbf3010542adf8ce38cfc235,19,89,0,ES
2019-01-29 08:55:28,303e49440c70ffc3d4b68960677f191fc2188a10,19,89,1,PT
2019-01-29 08:56:21,49629ebde0255ebe679b6937a003c78ca12e7aa3,19,89,0,PT
2019-01-29 08:56:34,110865461e4c0c1136087c868bd60269651a615e,19,99,1,ES
2019-01-29 08:56:41,586916781409a481081fe385efe1c5a81a891c3f,19,99,1,FR
2019-01-29 08:58:19,d512f9992a8698c578bffd621e4c9ae501d55628,19,99,1,PT
2019-01-29 08:59:05,f5380a20c90c67804826d057d29e5ed2acb738a8,19,89,0,ES
2019-01-29 08:59:39,c85c801f4a621c41007bfb4a562d114167f56f1e,19,99,1,PT
2019-01-29 08:59:43,63a28b8a61b99c413cd15694f6485742252d7ecb,19,89,1,ES
2019-01-29 08:59:53,57905f7c48c52e03402813d4921ca4d51f18aed2,19,99,0,ES

In [360]:
df_journee.loc[df_journee['immat']=='d9166db48559d925e4bc9f722fae785e41ce2a5c'].sort_values('created')

,camera_id,created,immat,fiability,l,state
623819,15,2019-01-28 07:45:30,d9166db48559d925e4bc9f722fae785e41ce2a5c,99,1,FR
574444,19,2019-01-28 08:15:51,d9166db48559d925e4bc9f722fae785e41ce2a5c,99,0,FR
469001,4,2019-01-28 08:36:21,d9166db48559d925e4bc9f722fae785e41ce2a5c,89,1,FR
4348,5,2019-01-28 08:47:51,d9166db48559d925e4bc9f722fae785e41ce2a5c,99,1,FR

In [364]:
def test_unicite_type(liste_l, mode='unique'):
        """test pour voir si un vehicule a ete toujours vu de la mme façon ou non
           en entre : liste de valeur de l iisues d'une df""" 
        if mode=='unique' : 
            if len(set(liste_l))==1 :
                return liste_l[0]
            else : 
                return -1
        elif mode=='1/2' :
            if any(liste_l)==1 : 
                return 1
            else : 
                return -1