Test du projet de class trajets indirect

In [1]:
%load_ext autoreload
%autoreload 2
import sys #c'est pas propre mais pour le moment pour importer mes modules perso dans le notebook je ne sais pas faire
sys.path.append(r'C:\Users\martin.schoreisz\git\Outils\Outils\Martin_Perso')
import traitement_od as t
import pandas as pd
import numpy as np
import altair as alt
import datetime as dt
pd.set_option('display.max_colwidth', 1000)
import os
from sklearn.cluster import DBSCAN

In [2]:
%time df_journee=t.ouvrir_fichier_lapi('2019-01-29 00:00:00','2019-01-29 23:59:00')

Wall time: 1min 8s

In [4]:
liste_trajet=(pd.DataFrame([{'o_d':'A63-A10','trajets':[{'cameras':[19,4,5],'type_trajet':'indirect'},
                                                       {'cameras':[19,1,5],'type_trajet':'indirect'},
                                                       {'cameras':[19,5],'type_trajet':'direct'},
                                                      ]},
                          {'o_d':'A62-A10','trajets':[{'cameras':[10,4,5],'type_trajet':'indirect'},
                                                       {'cameras':[10,1,5],'type_trajet':'indirect'},
                                                       {'cameras':[10,5],'type_trajet':'direct'},
                                                      ]},
                           ]))

Pour une o_d, sur une journee

In [3]:
#appel de la fonction de chainage
df_transit=t.transit_1_jour(df_journee,'2019-01-29',t.liste_trajet)

In [11]:
#calcul du nombre de passage devant les cameras 
df_transit['nb_passage2']=df_transit.cameras.apply(lambda x : len(x))

In [24]:
#nombre de comptage de pl en transit
nb_transit=df_transit.loc[:,'nb_passage2'].sum()
#nombre de comptage total
nb_tout=len(df_journee.loc[(df_journee['l']==1) & (df_journee['camera_id'].isin([19,5,4,1,10]))])
#pourcentage trafic
nb_transit*100/nb_tout

14.900028977108084

In [14]:
df_transit

,immat,date_cam_1,date_cam_2,cam_1,cam_2,tps_parcours,cameras,nb_passage2
0,997d5fbf94327159d8ad2dfe88999cf8a1a32fad,2019-01-29 07:41:57,2019-01-29 08:17:44,19,5,00:35:47,"[19, 4, 5]",3
1,1da7ad5637f24c08d9a8bb1da3f932c21e8dd47c,2019-01-29 07:45:33,2019-01-29 08:22:36,19,5,00:37:03,"[19, 4, 5]",3
2,382ff3d11f92aaa8d00c7e8061ff61c0eecbfc00,2019-01-29 07:53:24,2019-01-29 08:28:22,19,5,00:34:58,"[19, 4, 5]",3
3,eb6b0e2bc49e9ea29fb491193621a90417323bf4,2019-01-29 07:54:19,2019-01-29 08:30:39,19,5,00:36:20,"[19, 4, 5]",3
4,a7e4a67e8836b4fdb72688baca377534f6add717,2019-01-29 07:56:06,2019-01-29 08:32:54,19,5,00:36:48,"[19, 4, 5]",3
5,b3e2b06a429608e99c98d074851e49cbb6fb93ad,2019-01-29 07:56:03,2019-01-29 08:34:34,19,5,00:38:31,"[19, 4, 5]",3
6,f25b2cd42e0b20614640abc3418ec2af63af5042,2019-01-29 07:57:56,2019-01-29 08:34:25,19,5,00:36:29,"[19, 4, 5]",3
7,2dca9f2506ef4f67da0255625f046d1b40348d6e,2019-01-29 07:58:35,2019-01-29 08:35:20,19,5,00:36:45,"[19, 4, 5]",3
8,914a3afe6d6abb263b99c20884c88ae7c8a383dd,2019-01-29 07:59:36,2019-01-29 08:35:38,19,5,00:36:02,"[19, 4, 5]",3
9,e1ea2a9b923531745c01143d66eab992b97a2869,2019-01-29 07:56:55,2019-01-29 09:39:25,19,5,01:42:30,"[19, 4, 5]",3
10,a3a983c983807af46af26b033720a6bb557e1883,2019-01-29 07:54:27,2019-01-29 09:47:30,19,5,01:53:03,"[19, 4, 5]",3
9,04cdedf0bf6f15c9698dce79ad3157720ea29448,2019-01-29 07:54:45,2019-01-29 10:26:17,19,5,02:31:32,"[19, 5]",2
17,0fa06c5a4d718c8f9f48a2c4b381f3c1cb611376,2019-01-29 07:58:24,2019-01-29 08:13:47,10,5,00:15:23,"[10, 5]",2
0,bf9dfd50a4a693085e3080156f11c25314f96f03,2019-01-29 08:00:56,2019-01-29 08:37:18,19,5,00:36:22,"[19, 4, 5]",3
1,cf4f7ddbb3a6d9006e029777df712a53c2d76992,2019-01-29 08:01:07,2019-01-29 08:37:04,19,5,00:35:57,"[19, 4, 5]",3
2,183bc8585ac5a2e26b6d2ada6ce6891235a36b92,2019-01-29 08:01:16,2019-01-29 08:37:20,19,5,00:36:04,"[19, 4, 5]",3
3,dcf2ffa7638b1ae7d0281cbb94d4c7cf0a0912f7,2019-01-29 08:02:34,2019-01-29 08:37:42,19,5,00:35:08,"[19, 4, 5]",3
4,54581cfa0b0f0c1dbe24fd60ca7efcc07439232f,2019-01-29 08:02:19,2019-01-29 08:38:07,19,5,00:35:48,"[19, 4, 5]",3
5,31c6bdae383e5c4f25e803d55dc539d6c40e6105,2019-01-29 08:03:06,2019-01-29 08:38:16,19,5,00:35:10,"[19, 4, 5]",3
6,77728d75d8ee8a1e27c95ca4077faddbf9dcdd93,2019-01-29 08:03:55,2019-01-29 08:38:48,19,5,00:34:53,"[19, 4, 5]",3
7,59148b1dc67f7b2ca10635cd4fabe903b1fd0b63,2019-01-29 08:04:14,2019-01-29 08:39:21,19,5,00:35:07,"[19, 4, 5]",3
8,3de49b107ce9b3f1add8f9314add9f5a2cadbe50,2019-01-29 08:05:07,2019-01-29 08:39:49,19,5,00:34:42,"[19, 4, 5]",3
9,2a88c4e3e59236321a2098ccc9dd4b47f2eed478,2019-01-29 08:07:23,2019-01-29 08:42:27,19,5,00:35:04,"[19, 4, 5]",3
10,5173f6a0a8ddf8df788408f70f14b0cd71333fd4,2019-01-29 08:08:20,2019-01-29 08:43:36,19,5,00:35:16,"[19, 4, 5]",3
11,b19849562d778b3f0faadab5d6375d196fa00c3e,2019-01-29 08:11:31,2019-01-29 08:46:33,19,5,00:35:02,"[19, 4, 5]",3
12,d8f1940dce090c0dd70898ade323d44a20128cf7,2019-01-29 08:12:06,2019-01-29 08:46:39,19,5,00:34:33,"[19, 4, 5]",3
13,86e69f471e55d135cfde733fd536d2906682b662,2019-01-29 08:12:13,2019-01-29 08:47:29,19,5,00:35:16,"[19, 4, 5]",3
14,07f533c82778a42f4827e08e685d809e36017390,2019-01-29 08:13:13,2019-01-29 08:47:52,19,5,00:34:39,"[19, 4, 5]",3
15,837898ee18a5c0fb78ac9c1001068fcb7c888550,2019-01-29 08:16:29,2019-01-29 08:50:59,19,5,00:34:30,"[19, 4, 5]",3
16,11bec9781f63a9c6ed13dc8e9b73af792f9830c9,2019-01-29 08:20:21,2019-01-29 08:52:39,19,5,00:32:18,"[19, 4, 5]",3
...,...,...,...,...,...,...,...,...
55,2d173c372823bc80ebace6b252cc11d6d18d4268,2019-01-29 15:24:23,2019-01-29 15:38:08,10,5,00:13:45,"[10, 5]",2
56,477ecc2a2f5e7d4fb11fb728756fa8076b501808,2019-01-29 15:26:14,2019-01-29 15:39:10,10,5,00:12:56,"[10, 5]",2
64,4187ec7a81593505002374d0fd59fbb03d2f27d1,2019-01-29 15:30:44,2019-01-29 15:42:20,10,5,00:11:36,"[10, 5]",2
65,ff2465721f077ddb32523ddaa2a0053c9006ac7a,2019-01-29 15:29:59,2019-01-29 15:42:23,10,5,00:12:24,"[10, 5]",2
66,307e9b3f5602be3bdf747ebbe461546a50f1b0eb,2019-01-29 15:29:59,2019-01-29 15:42:23,10,5,00:12:24,"[10, 5]",2
67,e0e70c4fae7cbf31de97540c69a6b1454638aa84,2019-01-29 15:33:38,2019-01-29 15:42:30,10,5,00:08:52,"[10, 5]",2
69,9cd96f7751f5f536f56da9daf618c2c865e9399a,2019-01-29 15:35:22,2019-01-29 15:44:20,10,5,00:08:58,"[10, 5]",2
71,bb97894a4b6d75095cf1548391c5ad8c88ce10b6,2019-01-29 15:31:23,2019-01-29 15:45:43,10,5,00:14:20,"[10, 5]",2
73,8cb8c72fe6368cd2e4c260c5167bec64802c9c34,2019-01-29 15:34:02,2019-01-29 15:46:57,10,5,00:12:55,"[10, 5]",2
76,2d6de309a554b3626fbbeec8f94fc7dee4ae29d5,2019-01-29 15:36:18,2019-01-29 15:49:01,10,5,00:12:43,"[10, 5]",2
80,d54f83dc5583105fe2ef2c7290b93372dc21615b,2019-01-29 15:38:39,2019-01-29 15:49:58,10,5,00:11:19,"[10, 5]",2
88,879396c73cf5d9012f8355f1ea34a8e7b40ef140,2019-01-29 15:38:30,2019-01-29 15:53:52,10,5,00:15:22,"[10, 5]",2
92,79f543f23b9325f751b083d2fa39dbb8178a17b6,2019-01-29 15:43:34,2019-01-29 15:56:24,10,5,00:12:50,"[10, 5]",2
100,f995089bfa2d778c21393fbc7aca3c0e93931597,2019-01-29 15:51:16,2019-01-29 16:03:41,10,5,00:12:25,"[10, 5]",2
104,7c862e73e4c81522ec06763a90237697a25a1825,2019-01-29 15:56:12,2019-01-29 16:07:12,10,5,00:11:00,"[10, 5]",2
0,f5865f6fc34ee9d564723e2aa87b85dc3b54d410,2019-01-29 16:01:50,2019-01-29 16:16:24,10,5,00:14:34,"[10, 4, 5]",3
1,d2ce0efc709a696a2f210bdd377694590bd4f536,2019-01-29 16:04:28,2019-01-29 16:20:11,10,5,00:15:43,"[10, 4, 5]",3
2,d0625104cfc6711b114b40ea8f10bce4f41b9310,2019-01-29 16:09:52,2019-01-29 16:25:14,10,5,00:15:22,"[10, 4, 5]",3
3,7c00234f312ccf0c43d7b930d999b74ce0730ef7,2019-01-29 16:13:55,2019-01-29 16:30:58,10,5,00:17:03,"[10, 4, 5]",3
4,26952d7c7f0ede19d1e53efd402c7b78461517ce,2019-01-29 16:17:45,2019-01-29 16:33:18,10,5,00:15:33,"[10, 4, 5]",3
5,a9d94368ad07ad5541ce7613b632d4a22705d38d,2019-01-29 16:17:45,2019-01-29 16:33:18,10,5,00:15:33,"[10, 4, 5]",3
6,1aa8f8faf5fc32959c8266ae541fb14528a91e19,2019-01-29 16:18:57,2019-01-29 16:34:35,10,5,00:15:38,"[10, 4, 5]",3
3,c71f98db7a552ca616cc526be7ef11d65ea9b356,2019-01-29 16:00:17,2019-01-29 16:14:37,10,5,00:14:20,"[10, 5]",2
11,07d6a093f24386091eddff30440cf8aa0cd925da,2019-01-29 16:07:33,2019-01-29 16:19:49,10,5,00:12:16,"[10, 5]",2
17,9e6a307faae11acfe29ee482ca3bae500b54c72d,2019-01-29 16:09:08,2019-01-29 16:23:30,10,5,00:14:22,"[10, 5]",2
20,9a5dd9e9ac766a5703278fc38dae4607434da61d,2019-01-29 16:10:41,2019-01-29 16:25:15,10,5,00:14:34,"[10, 5]",2
24,f1ed05da701c1c7099fabd67239a4a7628e75e9f,2019-01-29 16:18:52,2019-01-29 16:32:31,10,5,00:13:39,"[10, 5]",2
25,e6f383c08dbf81a205ebf4494c2199125dffd775,2019-01-29 16:17:19,2019-01-29 16:32:44,10,5,00:15:25,"[10, 5]",2
27,486604e10e75db94a485d1ecec3027027d5170b6,2019-01-29 16:18:45,2019-01-29 16:33:19,10,5,00:14:34,"[10, 5]",2
34,9580a4239d6ea88491151e91778e9dc4d7e5991d,2019-01-29 16:23:55,2019-01-29 16:38:03,10,5,00:14:08,"[10, 5]",2