Test du projet de class trajets indirect

In [1]:
%load_ext autoreload
%autoreload 2
import sys #c'est pas propre mais pour le moment pour importer mes modules perso dans le notebook je ne sais pas faire
sys.path.append(r'C:\Users\martin.schoreisz\git\Outils\Outils\Martin_Perso')
import traitement_od as t
import pandas as pd
import numpy as np
import altair as alt
import datetime as dt
pd.set_option('display.max_colwidth', 1000)
import os
from sklearn.cluster import DBSCAN

In [2]:
%time df_journee=t.ouvrir_fichier_lapi('2019-01-29 00:00:00','2019-01-29 23:59:00')

Wall time: 1min 8s

In [33]:
liste_trajet=(pd.DataFrame([{'o_d':'A63-A10','trajets':[{'cameras':[16,19,4,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[14,19,4,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[16,19,1,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[14,19,1,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[16,4,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[14,4,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[16,1,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[14,1,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[16,19,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[14,19,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[16,19,1,11],'type_trajet':'indirect'},
                                                        {'cameras':[14,19,1,11],'type_trajet':'indirect'},
                                                        {'cameras':[16,19,4,11],'type_trajet':'indirect'},
                                                        {'cameras':[14,19,4,11],'type_trajet':'indirect'},
                                                        {'cameras':[16,19,1,11],'type_trajet':'indirect'},
                                                        {'cameras':[14,19,1,11],'type_trajet':'indirect'},
                                                        {'cameras':[14,4,11],'type_trajet':'indirect'},
                                                        {'cameras':[16,4,11],'type_trajet':'indirect'},
                                                        {'cameras':[14,1,11],'type_trajet':'indirect'},
                                                        {'cameras':[16,1,11],'type_trajet':'indirect'},
                                                        {'cameras':[14,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[16,5,11],'type_trajet':'indirect'},
                                                        {'cameras':[14,19,11],'type_trajet':'indirect'},
                                                        {'cameras':[16,19,11],'type_trajet':'indirect'},
                                                        {'cameras':[16,11],'type_trajet':'direct'},
                                                        {'cameras':[14,11],'type_trajet':'direct'}
                                                      ]},
                            {'o_d':'A10-A63','trajets':[{'cameras':[16,19,4,5],'type_trajet':'indirect'},
                                                        {'cameras':[14,19,4,5],'type_trajet':'indirect'},
                                                        {'cameras':[16,19,1,5],'type_trajet':'indirect'},
                                                        {'cameras':[14,19,1,5],'type_trajet':'indirect'},
                                                        {'cameras':[19,4,5],'type_trajet':'indirect'},
                                                        {'cameras':[19,1,5],'type_trajet':'indirect'},
                                                        {'cameras':[19,5],'type_trajet':'direct'},
                                                      ]},
                          {'o_d':'A62-A10','trajets':[{'cameras':[10,4,5],'type_trajet':'indirect'},
                                                       {'cameras':[10,1,5],'type_trajet':'indirect'},
                                                       {'cameras':[10,5],'type_trajet':'direct'},
                                                      ]}
                           ]))

Pour une o_d, sur une journee

In [31]:
#appel de la fonction de chainage
df_transit=t.transit_1_jour(df_journee,'2019-01-29 08:00:00',liste_trajet)

In [11]:
#calcul du nombre de passage devant les cameras 
df_transit['nb_passage2']=df_transit.cameras.apply(lambda x : len(x))

In [24]:
#nombre de comptage de pl en transit
nb_transit=df_transit.loc[:,'nb_passage2'].sum()
#nombre de comptage total
nb_tout=len(df_journee.loc[(df_journee['l']==1) & (df_journee['camera_id'].isin([19,5,4,1,10]))])
#pourcentage transit
nb_transit*100/nb_tout

14.900028977108084

In [32]:
df_transit

,immat,date_cam_1,date_cam_2,cam_1,cam_2,tps_parcours,cameras,o_d
0,bf9dfd50a4a693085e3080156f11c25314f96f03,2019-01-29 08:00:56,2019-01-29 08:37:18,19,5,00:36:22,"[19, 4, 5]",A63-A10
1,cf4f7ddbb3a6d9006e029777df712a53c2d76992,2019-01-29 08:01:07,2019-01-29 08:37:04,19,5,00:35:57,"[19, 4, 5]",A63-A10
2,183bc8585ac5a2e26b6d2ada6ce6891235a36b92,2019-01-29 08:01:16,2019-01-29 08:37:20,19,5,00:36:04,"[19, 4, 5]",A63-A10
3,dcf2ffa7638b1ae7d0281cbb94d4c7cf0a0912f7,2019-01-29 08:02:34,2019-01-29 08:37:42,19,5,00:35:08,"[19, 4, 5]",A63-A10
4,54581cfa0b0f0c1dbe24fd60ca7efcc07439232f,2019-01-29 08:02:19,2019-01-29 08:38:07,19,5,00:35:48,"[19, 4, 5]",A63-A10
5,31c6bdae383e5c4f25e803d55dc539d6c40e6105,2019-01-29 08:03:06,2019-01-29 08:38:16,19,5,00:35:10,"[19, 4, 5]",A63-A10
6,77728d75d8ee8a1e27c95ca4077faddbf9dcdd93,2019-01-29 08:03:55,2019-01-29 08:38:48,19,5,00:34:53,"[19, 4, 5]",A63-A10
7,59148b1dc67f7b2ca10635cd4fabe903b1fd0b63,2019-01-29 08:04:14,2019-01-29 08:39:21,19,5,00:35:07,"[19, 4, 5]",A63-A10
8,3de49b107ce9b3f1add8f9314add9f5a2cadbe50,2019-01-29 08:05:07,2019-01-29 08:39:49,19,5,00:34:42,"[19, 4, 5]",A63-A10
9,2a88c4e3e59236321a2098ccc9dd4b47f2eed478,2019-01-29 08:07:23,2019-01-29 08:42:27,19,5,00:35:04,"[19, 4, 5]",A63-A10
10,5173f6a0a8ddf8df788408f70f14b0cd71333fd4,2019-01-29 08:08:20,2019-01-29 08:43:36,19,5,00:35:16,"[19, 4, 5]",A63-A10
11,b19849562d778b3f0faadab5d6375d196fa00c3e,2019-01-29 08:11:31,2019-01-29 08:46:33,19,5,00:35:02,"[19, 4, 5]",A63-A10
12,d8f1940dce090c0dd70898ade323d44a20128cf7,2019-01-29 08:12:06,2019-01-29 08:46:39,19,5,00:34:33,"[19, 4, 5]",A63-A10
13,86e69f471e55d135cfde733fd536d2906682b662,2019-01-29 08:12:13,2019-01-29 08:47:29,19,5,00:35:16,"[19, 4, 5]",A63-A10
14,07f533c82778a42f4827e08e685d809e36017390,2019-01-29 08:13:13,2019-01-29 08:47:52,19,5,00:34:39,"[19, 4, 5]",A63-A10
15,837898ee18a5c0fb78ac9c1001068fcb7c888550,2019-01-29 08:16:29,2019-01-29 08:50:59,19,5,00:34:30,"[19, 4, 5]",A63-A10
16,11bec9781f63a9c6ed13dc8e9b73af792f9830c9,2019-01-29 08:20:21,2019-01-29 08:52:39,19,5,00:32:18,"[19, 4, 5]",A63-A10
17,bd00a061a3d665bfbae3a1601c4808f329060c96,2019-01-29 08:20:40,2019-01-29 08:52:58,19,5,00:32:18,"[19, 4, 5]",A63-A10
18,79974a434856bb71e13c30992f0d169a1a4a66fc,2019-01-29 08:20:55,2019-01-29 08:52:26,19,5,00:31:31,"[19, 4, 5]",A63-A10
19,f2e470f4d6b5c0692705d44b98d3a2238f3bdcda,2019-01-29 08:21:42,2019-01-29 08:54:32,19,5,00:32:50,"[19, 4, 5]",A63-A10
20,8793c445e0b831e8367bdd14305487a2d97e0e6d,2019-01-29 08:21:58,2019-01-29 08:55:35,19,5,00:33:37,"[19, 4, 5]",A63-A10
21,f11c4da90f55f8a43876963c417d3ff755ff1586,2019-01-29 08:24:44,2019-01-29 08:55:36,19,5,00:30:52,"[19, 4, 5]",A63-A10
22,2d8c2e8437a5ef6a1d9b79e36dd596c0a6623318,2019-01-29 08:24:52,2019-01-29 08:56:09,19,5,00:31:17,"[19, 4, 5]",A63-A10
23,3c5ca02a9a314160f09c48b21cd2c00b99076ca6,2019-01-29 08:24:57,2019-01-29 08:56:52,19,5,00:31:55,"[19, 4, 5]",A63-A10
24,7a6a2d05a710b54b4fdbc87ceee6f471f5f7d4ef,2019-01-29 08:25:51,2019-01-29 08:56:48,19,5,00:30:57,"[19, 4, 5]",A63-A10
25,a4c03070e934e2f328992c3f7aa77edb9b95396b,2019-01-29 08:26:48,2019-01-29 08:58:34,19,5,00:31:46,"[19, 4, 5]",A63-A10
26,b98d1874b66d7c7cdbd98ccf64d98ecadbb8f6cf,2019-01-29 08:26:48,2019-01-29 08:58:35,19,5,00:31:47,"[19, 4, 5]",A63-A10
27,fd06f37936c529c968ca4f492ed29a7f0bd090ec,2019-01-29 08:27:50,2019-01-29 08:58:59,19,5,00:31:09,"[19, 4, 5]",A63-A10
28,9df9882db4e917b0a36e31cd12f971a772fe315b,2019-01-29 08:28:04,2019-01-29 08:59:16,19,5,00:31:12,"[19, 4, 5]",A63-A10
29,3630d036c608518d63820e011c0108ff0cc433b7,2019-01-29 08:27:45,2019-01-29 09:00:07,19,5,00:32:22,"[19, 4, 5]",A63-A10
...,...,...,...,...,...,...,...,...
39,f6a5aedc9dc85af6bbd24052c146c57ea2a975b1,2019-01-29 09:26:11,2019-01-29 09:30:03,10,5,00:03:52,"[10, 5]",NaN
41,35525702b5910901b23b1a0022389cf5dbcffdd2,2019-01-29 09:25:44,2019-01-29 09:34:32,10,5,00:08:48,"[10, 5]",NaN
42,ce2305154ec3704806f521d48de79f235c69b067,2019-01-29 09:28:52,2019-01-29 09:35:08,10,5,00:06:16,"[10, 5]",NaN
43,360e05a01c2ae1fdd685a75c81493f63b9923ef1,2019-01-29 09:26:54,2019-01-29 09:35:33,10,5,00:08:39,"[10, 5]",NaN
44,201d7d0eba87159a9961a0ffee57a4088e081217,2019-01-29 09:27:11,2019-01-29 09:36:03,10,5,00:08:52,"[10, 5]",NaN
48,58375266001d5699f3d63a44877e51bd94cd12bc,2019-01-29 09:30:45,2019-01-29 09:39:34,10,5,00:08:49,"[10, 5]",NaN
50,06e7855252ca3c76c5b5db3578144a390cacd85d,2019-01-29 09:31:20,2019-01-29 09:40:17,10,5,00:08:57,"[10, 5]",NaN
51,99fad43420331935d33d775d4d6d1612a4fabb97,2019-01-29 09:31:48,2019-01-29 09:40:53,10,5,00:09:05,"[10, 5]",NaN
53,0c132d8cd5c668d7a1bbf2bbc131683ee1d970c4,2019-01-29 09:31:24,2019-01-29 09:41:44,10,5,00:10:20,"[10, 5]",NaN
55,d0027c8d73e3866d49a973c4e9182cf3a34c58eb,2019-01-29 09:37:02,2019-01-29 09:42:56,10,5,00:05:54,"[10, 5]",NaN
60,f803a036a0fa7913f99bfc8fc17aa349d3277ceb,2019-01-29 09:37:21,2019-01-29 09:44:48,10,5,00:07:27,"[10, 5]",NaN
61,b2786fae1592ef31d12435db7918ff458db5705a,2019-01-29 09:36:05,2019-01-29 09:44:59,10,5,00:08:54,"[10, 5]",NaN
62,453e4554bfddc01e7f25298b621dcfab7bcb3d67,2019-01-29 09:36:27,2019-01-29 09:45:47,10,5,00:09:20,"[10, 5]",NaN
64,e020d238f0bbdef88ee64f071f9d631081237ea0,2019-01-29 09:37:45,2019-01-29 09:46:27,10,5,00:08:42,"[10, 5]",NaN
67,0d63956d28f4a232cde961f61b95ac6a3aec714a,2019-01-29 09:38:10,2019-01-29 09:47:06,10,5,00:08:56,"[10, 5]",NaN
74,eee3fc38ba0828e4a3226c6cdc8c1ddddb73813f,2019-01-29 09:39:57,2019-01-29 09:48:31,10,5,00:08:34,"[10, 5]",NaN
79,934af7f4a155691cb1de3959f26e172bcba32241,2019-01-29 09:40:57,2019-01-29 09:50:41,10,5,00:09:44,"[10, 5]",NaN
80,843b62b094ab49cf6dc027bc0b0d0e050dd05fc8,2019-01-29 09:41:11,2019-01-29 09:50:51,10,5,00:09:40,"[10, 5]",NaN
84,c10fd75cdd2cac8be9306d817b8d72b2aa6af8f2,2019-01-29 09:43:43,2019-01-29 09:52:43,10,5,00:09:00,"[10, 5]",NaN
91,bd31de7665f16d92eaa8063b9e754881251aac92,2019-01-29 09:44:11,2019-01-29 09:55:53,10,5,00:11:42,"[10, 5]",NaN
92,1120903d86bebaec045b3b21eaf553f77269266f,2019-01-29 09:44:11,2019-01-29 09:55:53,10,5,00:11:42,"[10, 5]",NaN
93,167d7e62d8bdb9575d8794aec02bae0ea5753201,2019-01-29 09:43:53,2019-01-29 09:56:07,10,5,00:12:14,"[10, 5]",NaN
98,017fc0417a910867b443c2946b573d0de679abce,2019-01-29 09:50:51,2019-01-29 10:01:35,10,5,00:10:44,"[10, 5]",NaN
103,6bc1b9fbc3ac05a6938237e3ee57e89bdc2b3824,2019-01-29 09:53:17,2019-01-29 10:04:58,10,5,00:11:41,"[10, 5]",NaN
105,d3eb86f54d15150f2c6e135a5b81151407324adf,2019-01-29 09:58:03,2019-01-29 10:05:40,10,5,00:07:37,"[10, 5]",NaN
106,e1da6f5880489efa705240a194957a298b3d366d,2019-01-29 09:59:28,2019-01-29 10:10:59,10,5,00:11:31,"[10, 5]",NaN
111,5bd86657341d141116018af6ab021b15a89e6a24,2019-01-29 09:46:34,2019-01-29 11:08:01,10,5,01:21:27,"[10, 5]",NaN
113,b0aaf7774503febabcc2d8682e8ab227b0d66440,2019-01-29 09:58:07,2019-01-29 11:12:34,10,5,01:14:27,"[10, 5]",NaN
114,9ae691d7b4c71c134429eb886289f733e7723719,2019-01-29 09:12:38,2019-01-29 11:46:38,10,5,02:34:00,"[10, 5]",NaN
122,89bb7ba26156cb7a35364513ef3349168db57887,2019-01-29 09:41:44,2019-01-29 16:02:58,10,5,06:21:14,"[10, 5]",NaN

In [26]:
dates= pd.date_range('2019-01-29 08:00:00', periods=2, freq='H')

In [27]:
dates

DatetimeIndex(['2019-01-29 08:00:00', '2019-01-29 09:00:00'], dtype='datetime64[ns]', freq='H')